[2016-08-11 20:25] metakirby5 opened #1 "Codi stops working at around 1000 characters"
This is an issue with `script`, with no known workaround.

[2016-08-11 20:26] metakirby5 opened #2 "Javascript interpreter does not support async"
Vim complains about the channel being closed even though its status is buffered. Cause unknown.

[2016-08-13 20:56] metakirby5 commented on #2
Resolved with new prompt-counting method.

[2016-08-13 20:56] #2 closed

[2016-08-14 06:28] yuhuanq opened #3 "Issue with ultisnip tabstops"
Working perfectly in neovim, but in vim when inserting a snippet and going to the next tabstop, Codi seems to automatically replace what text is there with 'gg'.

https://vid.me/75qW

[2016-08-14 07:03] metakirby5 commented on #3
Reproducible on my end - thanks for the contribution! Will try to find a fix soon.

[2016-08-14 10:49] metakirby5 commented on #3
I've looked into this a bit, and I've gotten Codi to at least restore the selection and not write 'gg'. Unfortunately, I haven't been able to restore the keybinds because UltiSnips does [too good of a job of keeping state clean](https://github.com/SirVer/ultisnips/blob/aaa89bf0d62597f35b9d0de947c78f9539dadcd1/pythonx/UltiSnips/snippet_manager.py#L386); the mappings are removed as soon as Codi perf

[2016-08-14 18:53] lervag opened #4 "Add hooks for entering/quiting codi "session""
First, I think you are on to something very useful here! Thanks!

I think it would be very convenient to either add some user autocmds or function hooks upon entering and closing a Codi session. This would, for instance, allow to set the `VertSplit` highlighting differently when using codi. I like showing the splits clearly in general, but I can see how the right aligned buffer without visual clut

[2016-08-14 21:18] metakirby5 commented on #4
Sounds like a good idea! I'll look into user autocmds shortly.

If you're up for it, don't be afraid to submit a pull request :) [s:codi_spawn](https://github.com/metakirby5/codi.vim/blob/b028d47d519288575d889207e6d0a196c5603716/autoload/codi.vim#L428) and [s:codi_kill](https://github.com/metakirby5/codi.vim/blob/b028d47d519288575d889207e6d0a196c5603716/autoload/codi.vim#L233) are good starting po

[2016-08-14 21:19] metakirby5 opened #5 "NVim support"
NVim has a different asynchronous job API, and Codi should support it 😋

[2016-08-14 21:25] metakirby5 opened #6 "Manual invocation option (no autocmd)"
`:CodiUpdate` or something...

[2016-08-14 21:28] metakirby5 opened #7 "Per-Interpreter settings"
For all non-dict options, the interpreter dict should support overriding the global options.

Use case: for extraordinarily slow languages, maybe you only want to evaluate manually, but still want to retain instant evaluation for Python.

[2016-08-14 21:31] metakirby5 opened #8 "Option to only run visually selected lines"
Maybe make it a special autocommand value ('Visual') and have it actually trigger on the 'CursorMoved' autocommand?

[2016-08-14 22:30] challsted commented on #5
As a user who uses NVim on all of my devices, I'm super excited for this Issue to be closed :100:

[2016-08-14 23:18] KKPMW opened #10 "Weird symbols with R prompt output (NeoVim)"
Attaching a screenshot of the output I get when using Codi with R on NeoVim.

Tried haskell and python - both worked fine.

![screen shot 2016-08-15 at 02 16 15](https://cloud.githubusercontent.com/assets/7273684/17652763/6494b7b2-628e-11e6-8b5d-a21fb4a83007.png)

[2016-08-14 23:21] ZweiSpeedruns commented on #5
NVim user here. I was wondering why it took 5 seconds to update. Great plugin! Can't wait for async to be fully supported on neovim.

[2016-08-14 23:30] metakirby5 commented on #5
Note that for the time being, you can set 'updatetime' to something lower in milliseconds to get faster results :)

[2016-08-14 23:38] ZweiSpeedruns commented on #10
I haven't seen the R interpreter, but seeing as 200 (the correct answer) is buried in there along side timestamps, I'm going to take a stab in the dark and guess that the default regex for the R interpreter prompt is incorrect.

[2016-08-14 23:43] metakirby5 commented on #10
The main issue is that there's no preprocess to strip out control characters and add newlines. What's the version of the R interpreter you're using?

[2016-08-14 23:49] KKPMW commented on #10
R version 3.3.0 (2016-05-03) -- "Supposedly Educational".

You said it works on your end, so that's a bit weird to me. Did you use NVim? I tried running it with fresh vimrc and without tmux, still the same.

[2016-08-14 23:51] metakirby5 commented on #10
Using it with vanilla Vim - will test with NVim when I get the chance, but I suspect that the R version is the culprit here.

[2016-08-15 00:00] KKPMW commented on #10
Hmm the only newer version is 3.3.1. I read their release notes and they didn't mention anything about control characters. But I will try updating later today to see if this helps.

Or maybe you were using an older version?

[2016-08-15 00:00] metakirby5 commented on #10
Hmm... It would actually be really useful if I had the exact characters. Can you enter the below into the main buffer, switch to the codi buffer, write it, and upload the file somewhere? Copy and pasting doesnt help too much because they use literal <ESC> characters that aren't printable.

[code]

[2016-08-15 00:20] KKPMW commented on #10
OK I solved the problem, sorry to keep you needlessly occupied.

The issue was - I was using "colorout" library for R and it was written in my .Rprofile. So R prompt output was being colored.

But as I was checking this another issue appeared - in R codi prints sort(9:1), but returns blank for sort(10:1).

[2016-08-15 01:25] metakirby5 commented on #10
Ah, I know exactly why that second issue is happening - will put up a fix soon.

In the meantime, could you still upload your output with `colourout` enabled? I'd like to make it compatible with that, since it doesn't seem like too much trouble.

[2016-08-15 01:41] ZweiSpeedruns commented on #5
As expected, the lower I set it, the slower NVim itself runs. This is actually why I switched to neovim in the first place, then vim had to add the async functionality in order to compete.

[2016-08-15 06:29] metakirby5 commented on #5
I have NVim support working for most languages, but it's not perfect quite yet because there are a few oddities with the stdin/stdout streams (Ocaml in particular is giving me a bit of trouble). However, Vim support should be unaffected (i.e. this commit should introduce no noticeable changes for vim users). Should I push and close, then address any issues with NVim as they arise? I just would lik

[2016-08-15 06:32] metakirby5 commented on #10
Closing this for now, since the sort(10:1) issue has been fixed. if color output compatibility becomes a priority again, please open another issue 🙂

[2016-08-15 06:32] #10 closed

[2016-08-15 07:13] metakirby5 commented on #5
If anyone wants to give it a spin, the changes are staged in the `user/metakirby5` branch.

I still can't quite figure out NVim's streaming quirks though. Here's what the data I get back looks like:
![nvim](https://www.dropbox.com/s/nl3cjdeu5fbgmki/Screenshot%202016-08-15%2000.03.05.png?dl=1)

It should really look like this though (Vim pictured below):
![vim](https://www.dropbox.com/s/v9du102naxh

[2016-08-15 07:16] balta2ar commented on #5
I'm using neovim and it's working fine on my home machine with ArchLinux where all packages are up to date. However on my working machine with Ubuntu 12.04 nothing is shown in the Codi buffer. How do I diagnose the issue here? (I'm trying python interpreter, tried both python2 and python3 inside miniconda and without it)

[2016-08-15 07:44] metakirby5 commented on #5
@balta2ar that's interesting... I suspect that the prompt counts are getting messed up, but please try forcing synchronous to confirm this. After pulling `user/metakirby5` again (I fixed a bug where forcing sync wasn't working with nvim), try the following and post screenshots:

- `nvim _.py -c 'let g:codi#sync = 1 | Codi'`
- `nvim _.py -c 'let g:codi#sync = 1 | let g:codi#raw = 1 | Codi'`

[2016-08-15 08:34] balta2ar commented on #5
Nothing is displayed after either of two commands.

Using 0f6229d:
![](http://scrin.org/i/16/08/tmpatfiixcpehs.png)

![](http://scrin.org/i/16/08/tmpqdzdfgeyqws.png)

![](http://scrin.org/i/16/08/tmpl0engkarsns.png)

[2016-08-15 10:45] balta2ar commented on #5
Just to clarify, I also tried entering simple expressions like "1+1" and nothing displayed.

[2016-08-15 10:51] iovis9 commented on #5
I'm getting synchronous behaviour. Is there a way I could check if my plugin manager is loading the correct branch from inside nvim? Some new variable I can check or something.

[2016-08-15 11:38] lervag commented on #4
Thanks, nice work! It seems, though, that the Leave autocmds are not fired if I do `Codi!` or `Codi!!`. I've tried to e.g. just set `g:test = 1` with `au User CodiLeavePre let g:test=1`, but this is never set.

I'm remember that I myself have had some minor issues using the `BufWinLeave` autocmd. Perhaps this should also be fired from `s:code_kill`?

[2016-08-15 12:24] j-walk opened #11 "Issue with GHC LANGUAGE pragmas"
Haskell language pragmas (GADTs, UnicodeSyntax, etc) aren't functioning.

http://i.imgur.com/xGbqJyo.png

[2016-08-15 17:49] metakirby5 commented on #11
Can you confirm that this also works in GHCI? Codi does not support anything beyond what the underlying interpreter supports.

Also, for further investigation, could you paste exactly what you entered into Codi here? I just want to make sure I'm entering the right Unicode characters.

[2016-08-15 17:52] lervag commented on #4
Just to be more specific, this is what I'm trying to do:

[code]

The `CodiEnterPost` works fine, the `LeavePost` does not work (and neither does `LeavePre`).

[2016-08-15 17:54] metakirby5 commented on #4
Reopening for now - I'll check this out when I get the chance :)

[2016-08-15 17:55] lervag commented on #4
Thanks!

[2016-08-15 18:17] metakirby5 commented on #5
@iovis9 Just go wherever your Vim plugin directory, go into the `codi.vim` directory, and `git checkout user/metakirby5`. I can give you more specific instructions about how to locate your plugin directory if you tell me what manager you're using.

@balta2ar Would you mind telling me the following about your Ubuntu machine?

- What the output of `man script` says (since `script` doesn't have a `--

[2016-08-15 18:17] dkasak commented on #11
@metakirby5 ghci doesn't support that syntax, it only works in source files. Also, top-level definitions (using the equality sign) in source code work differently than assignments in ghci so just passing every line of source code isn't going to work properly for Haskell.

That said, I'm not even sure that's the goal of this project. It seems like your intent with codi was more along the lines of a

[2016-08-15 18:19] iovis9 commented on #5
That's exactly what I did so then I confirm I have synchronous behaviour.
Nvim 0.1.4

[2016-08-15 18:34] metakirby5 commented on #11
@dkasak You are spot-on regarding the goal of this project. It's essentially meant to be just like using the interpreter for trying out small snippets of code, but a bit handier. I'll add a note about that to the documentation - thanks!

[2016-08-15 18:34] #11 closed

[2016-08-15 19:29] metakirby5 commented on #5
@iovis9 Did you checkout the branch from `~/.config/nvim/<plugin folder>/codi.vim`, rather than `~/.vim/<plugin folder>/codi.vim`? I made that mistake earlier and it tripped me up, so I just want to rule that out.

[2016-08-15 19:30] iovis9 commented on #5
I only have `~/.vim/bundle/...` as I have both vim and neovim running under the same configuration.

[2016-08-15 20:30] dkasak opened #13 "ghci output filtering/processing issues"
I'm seeing two issues with filtering/processing output from ghci:

* Codi outputs `Loaded GHCi configuration from /home/dkasak/.ghci` in the very first line of its output which is a line ghci prints out at startup.
* The standard prompt in ghci changes when you import additional Haskell modules to reflect this so the prompt isn't always just `Prelude> ` but can be e.g. `Prelude Control.Monad> `. F

[2016-08-16 01:05] idbrii opened #14 "Win32 support"
I gave it a try and got "Codi does not support Windows yet." Big stacktrace when I try to use it.

Found the code in autoload/codi.vim and tried to modify, but nothing happens in the new split after I `:Codi` and modify python.

    else
      if executable('script')
        function! s:scriptify(bin)
          return 'script -qfec '.shellescape(a:bin, 1).' /dev/null'
        endfunction
      els

[2016-08-16 01:06] ZweiSpeedruns commented on #5
I would test the branch, but I can't figure out how to use the branch using dein :(

[2016-08-16 01:09] metakirby5 commented on #5
@ZweiSpeedruns What does the line that says `call dein#begin({path to plugin base path directory})` have? The codi.vim repo is likely within your plugin base path directory. (No guarantees though, since I've never used dein...)

[2016-08-16 01:11] idbrii commented on #14
I tried forcing sync off and it hangs after `:Codi`. My guess is because it's not correctly receiving the piped input so script is waiting for input. My vimrun window contains:

	C:\WINDOWS\system32\cmd.exe /c (script -qfec ^"python^" /dev/null ^<C:\Users\idbrii\AppData\Local\Temp\VIi41AA.tmp ^>C:\Users\idbrii\AppData\Local\Temp\VIo41AB.tmp 2^>^&1)

I'm not sure how to do the piping properly on Wi

[2016-08-16 01:30] metakirby5 commented on #14
Hey @idbrii, thanks for providing so much detail about your situation! `script` is such a finicky command, and I'd really like to switch to using the Python [pty](https://docs.python.org/2/library/pty.html) module instead, to lessen compatibility issues.

In any case, I'm unable to address Windows support myself (as I lack a Windows machine), but I can give you any information you need if you want

[2016-08-16 02:11] bert88sta commented on #5
Is this something that makes use of msgpack?

[2016-08-16 03:50] metakirby5 commented on #5
@bert88sta Not that I know of... I'm not super familiar with NVim, but I only used its [jobs API](https://neovim.io/doc/user/job_control.html).

[2016-08-16 07:09] #4 closed

[2016-08-16 07:09] metakirby5 commented on #4
@lervag hope this works 🙏

[2016-08-16 07:15] metakirby5 commented on #5
@balta2ar Also, what's your 'updatetime'? It will take that long to show up, and the default iirc is 4 seconds, so perhaps you aren't waiting enough.

[2016-08-16 07:22] metakirby5 commented on #13
Is it guaranteed that there will be no `|` or `>` characters in anywhere but the prompt? If not, I will probably have to keep "Prelude" in the regex.

[2016-08-16 07:41] metakirby5 commented on #13
Very easy fix if I just keep "Prelude" in the regex; I suppose users with custom prompts will just have to update their Codi settings.

![](https://www.dropbox.com/s/or2kfuzbrj78y2e/Screenshot%202016-08-16%2000.39.26.png?dl=1)

Thank you for the contribution!

[2016-08-16 07:45] lervag commented on #4
Thanks, it seems to work well!

[2016-08-16 08:21] dkasak commented on #13
No, but it should be the case that everything up to the *first* `>` or `|` is the prompt, so you could use an eager (non-greedy) match.

The problem is not with custom prompts but with the fact that Prelude is itself a module, just one that is loaded implicitly, but this behaviour can be disabled or exchanged with a different kind of prelude in `$HOME/.ghci`. I believe a non-greedy match would be

[2016-08-16 08:21] balta2ar commented on #5
@metakirby5

My updatetime is:
[code]

script:
[code]
man script doesn't show version but it shows "February 2011" in the bottom.

python:
[code]

Codi with regular Vim works on the machine: no, it does not. I've tried this version of vim:
[code]

My version of neovim is:
[code]

[2016-08-16 08:29] metakirby5 commented on #13
Hmm, are you sure about everything up to the first `>` being a prompt? I see errors like `<interactive>...` being a counterexample, which is why I decided to just push up the change with Prelude in the prompt.

In any case, if you can provide a better regex and submit a pull request, I will gladly take a look and merge it in :) I'm by no means an expert in Haskell, but I dabbled in it a little onc

[2016-08-16 08:33] dkasak commented on #13
Hmm, I think you're right, I wasn't taking errors into account. I'll think about it some more and try to work on it when I catch some time.

That said, I'm still having a problem with the `Loaded GHCi configuration from /home/dkasak/.ghci` line. You're probably not seeing it because it's only displayed if the file exists (which is the case if you have any kind of custom ghci configuration, regardl

[2016-08-16 08:36] dkasak commented on #13
Also, it might be worth it to run ghci with `-ignore-dot-ghci` from Codi, for the time being at least. That will make it ignore any custom user configuration which might even be the sane thing to do in the long run, depending on how hard it is to fix all those special cases.

[2016-08-16 08:40] metakirby5 commented on #13
Sounds good! Will we be forfeiting continuation lines, though? I had to `:set +m` to get those.

It's curious that you're still getting the `Loaded GHCi...` line, though, as I can't seem to reproduce it on my Mac machine or Ubuntu VM. The immediate cause I can think of is misplaced prompts. Would you mind posting the contents of the Codi pane when you set `g:codi#raw = 1` and `g:codi#rightalign =

[2016-08-16 08:44] metakirby5 commented on #5
@balta2ar Ah, it looks like my manpage says June 2014. I'm not sure if `script` has had any breaking updates, but could you get a newer version of script to see if this is the case?

In any case, the fact that normal Vim isn't working seems like entirely different issue. If the problem still persists after confirming the issue isn't the `script` version, please open a separate issue for this.

[2016-08-16 09:00] #7 closed

[2016-08-16 09:21] #6 closed

[2016-08-16 09:35] dkasak commented on #13
Yes, we'll lose continuation lines. Though I suppose many people don't have them turned on in their `.ghci` file either so it might be reasonable to add an additional parameter to Codi to specify commands that should be run to initialize the interpreter (probably as a list of vimscript strings) when it's first started. Would you be open to this? It seems like a nice addition as it would facilitate

[2016-08-16 09:41] balta2ar commented on #5
@metakirby5 Yes indeed, compiling a more recent version of script  from here (https://github.com/karelzak/util-linux) helped! Thank you!
Is there way to use script in a more compatible way?

[2016-08-16 09:45] metakirby5 commented on #13
Hmm, I have somewhat mixed feelings about startup strings. I want to keep as little language-specific configuration as possible in Codi; after all, it's what made it so easy for me to add support to so many languages, may of which I only have a surface-level understanding of. It also introduces the potential issue of unforeseen side-effects, e.g. if a user expects continuation lines since they are

[2016-08-16 09:54] metakirby5 commented on #5
@balta2ar Unfortunately, `script` is already a hacky solution by nature. It gets even worse when you take into account that BSD and Linux have entirely different versions of `script`. I've looked into alternatives a bit more, and python's [pty](https://docs.python.org/3.2/library/pty.html) module looks promising. They even have a minimal implementation of `script`! With this, we could remove the `

[2016-08-16 10:06] metakirby5 opened #15 "Add a unit testing framework."
Really, this should have been here from the start, but I was lazy 😛 I need to look into this a bit, but in the meantime, please chime in any suggestions.

[2016-08-16 10:07] metakirby5 commented on #1
Plan to fix this with Python's [pty](https://docs.python.org/3.2/library/pty.html) module.

[2016-08-16 10:08] iovis9 commented on #5
Hi, I recently downloaded the last changes and NVIM is now working asynchronously as expected.
If you want me to test something in particular I'm around.

[2016-08-16 10:11] metakirby5 commented on #5
@iovis9 Great! If you could play around with the different languages (OCaml is giving me a lot of trouble in particular), with different combinations of line breaks, it would be very helpful. Let me know if responsiveness is satisfactory, if any unexpected processes show up and stay running (using `htop` or whatever you like), and just if there's anything out of the ordinary in general.

[2016-08-16 10:14] iovis9 commented on #5
Well, I have no idea of OCaml but I'll play around :)
I only tested on Python but I'll check which languages the plugin supports and at least try the ones I know.

What would be an example of an unexpected process showing up in my processes? I'm not familiar with what's expected and what not.

[2016-08-16 10:20] metakirby5 commented on #5
For unexpected processes, let's take Python for example. Let's say you type in `2 + 2` and you see `4` on the right pane - you should expect no `python` or `script` processes to be running. I typically check this using `ps aux | grep python`, but I'm sure there's a better way. Also, processes that have a `Z` in the 8th column are fine; they just haven't been cleared from the process table yet.

If

[2016-08-16 10:34] iovis9 commented on #5
Putting these two lines in python and then hitting enter for newlines creates weird outputs on the right, a different one for each newline.
(NVIM 0.1.4, Python 2.7.12)

![screen shot 2016-08-16 at 12 31 43](https://cloud.githubusercontent.com/assets/6660202/17696258/8a3051a0-63ad-11e6-81ec-88a297c3abea.png)

[2016-08-16 10:44] metakirby5 commented on #5
Thank you for finding that! I suspected that NVim's funky handling of input would mess with the selection of what to display. If you `let g:codi#raw = 1` and `:CodiUpdate` a few times, you can see that despite the main buffer not changing, the Codi pane inconsistently changes. This will likely be the case for other languages as well, particularly when you get continuation lines without an immediat

[2016-08-16 10:53] iovis9 commented on #5
I confirm evaluations don't change; but assignments, comments, loops, etc., will show weird output for every keypress. From a usability POV I think it's distracting and not ready yet.

![screen shot 2016-08-16 at 12 50 23](https://cloud.githubusercontent.com/assets/6660202/17696686/5968f150-63b0-11e6-8284-7fe7b9973ddc.png)

[2016-08-16 13:05] still-dreaming-1 opened #16 "JavaScript / Node not working in Vim or Neovim"
Hello. When I run `:Codi` from a .js file written for node, the extra buffer does appear on the right, but it just stays blank. At first I thought this was because I was using Neovim. But then I tried it in Vim and got the same result.

[2016-08-16 13:07] still-dreaming-1 commented on #16
Nevermind, my Vim is outdated.

[2016-08-16 13:34] still-dreaming-1 commented on #16
I compiled the latest Vim and it works.

[2016-08-16 13:34] #16 closed

[2016-08-16 13:37] still-dreaming-1 opened #17 "Node undefined"
When I use this to run JavaScript code in node, the scratch buffer is showing `undefined` in strange places. When I run the same code in node, I don't get any warnings or errors.

[2016-08-16 13:39] still-dreaming-1 commented on #17
I just noticed when I leave a buffer and come back, the `undefined` messages move around. Sometimes they disappear. Sometimes they are on different lines than they were before.

[2016-08-16 14:43] geratheon opened #18 "python: blank lines in classes"
When you define a class in python and use empty lines between functions, everything breaks.

![2016-08-16-164152_655x412_scrot](https://cloud.githubusercontent.com/assets/5645703/17702987/61b67a9c-63d0-11e6-86ab-14f4999464e7.png)

But when you remove those lines, everything is good.

![2016-08-16-164159_655x412_scrot](https://cloud.githubusercontent.com/assets/5645703/17702993/6a8fe25c-63d0-11e6-9

[2016-08-16 15:21] balta2ar commented on #18
This might be due to how pasting is implemented. That empty line before `do_stuff` is considered to be the end-of-paste. IIRC, ipython has %paste and %cpaste to avoid this.

[2016-08-16 16:19] iovis9 commented on #17
A way to reproduce it would help.

[2016-08-16 17:55] oblitum opened #19 "Trying a setup for PureScript"
I'm not having success trying a setup for PureScript (the plugin is working for Python as expected). I've put this snippet in my `.vimrc`:

[code]
When I open vim and execute `:Code purescript` I get a message "No matching autocommands" and nothing happens when I write code. An example session of PureScript REPL is like the following:

[code]
Any help appreciated!

[2016-08-16 18:02] metakirby5 commented on #18
@balta2ar is correct. If you use the standard Python interpreter, it won't let you define a class like that either. Codi is more or less a wrapper around the interpreter, so this is expected behavior that won't be fixed. I will, however, add a note about this to the docs - thanks for the find!

[2016-08-16 18:02] #18 closed

[2016-08-16 18:11] metakirby5 commented on #17
Agreed - if you can provide the following, I'll definitely be able to fix it much faster:

- The entire process (from opening Vim to producing the issue)
- What you put into the buffer
- A screencast, if possible
- A `.vimrc` stripped down to the bare minimum to reproduce the issue, if possible

[2016-08-16 18:37] metakirby5 commented on #19
Thanks for the issue report! Always excited to add support for a new language.

Would you mind telling me how to install the dependencies required to run `pulp psci`, preferably on OS X? I'm a bit unfamiliar with PureScript's tooling.

[2016-08-16 18:57] dkasak commented on #13
I agree you should probably wait with adding startup strings until at least a few more people try playing with the Haskell backend and/or the need arises for other languages. I'm not sure how useful the Haskell backend is in its present form since I haven't yet managed to get it to get into a state where I can experiment with it. I think ghci is sufficiently different from most other language inte

[2016-08-16 19:12] StephenGilboy commented on #17
So the way to reproduce it is to use `var`.
![screenshot 2016-08-16 12 11 08](https://cloud.githubusercontent.com/assets/827735/17712410/a01af32e-63aa-11e6-9ffb-416f328ac67a.png)
![screenshot 2016-08-16 12 11 35](https://cloud.githubusercontent.com/assets/827735/17712411/a2597e80-63aa-11e6-8d3a-264ee03bb278.png)

[2016-08-16 19:21] oblitum commented on #19
There're precompiled binaries here: http://www.purescript.org/download/. Sorry but I'm on ArchLinux and here it's as easy as `pacman -S purescript pulp`

[2016-08-16 19:23] oblitum commented on #19
It's also available from NPM.

[2016-08-16 19:24] oblitum commented on #19
Ah, the download page says it's on homebrew as well!

[2016-08-16 19:26] oblitum commented on #19
http://www.purescript.org/learn/getting-started/ tells the initial steps to get to the `pulp psci` command.

[2016-08-16 19:41] dkasak commented on #13
Okay, so I started vim with `/usr/bin/vim -c 'let g:codi#raw = 1 | let g:codi#rightalign = 0'`.

Then I typed

[code]

And the output is the following

[code]

[2016-08-16 20:25] metakirby5 commented on #17
If you try using `var` in node, you get undefined as well. The intended behavior is to match what the underlying interpreter would produce, so this is expected and will not be fixed.

The undefined messages moving around is a bit concerning though - can you post an example of that?

[2016-08-16 20:34] metakirby5 commented on #19
Seems to be working on my end, with your exact config:

![](https://ptpb.pw/aZiI.png)

The error message could use some touching up, but that's what preprocess is for.

Note I had to `pulp init`, and it only worked in that directory (which is the desired behavior, since it's supposed to mimc the underlying interpreter). It also is not instantaneous because `pulp psci` takes a little while to start

[2016-08-16 20:36] metakirby5 commented on #5
@iovis9 Roger that. I'll look a bit further into using Python's `pty` module. For the time being, NVim users can keep using the `user/metakirby5` branch for experimental support.

[2016-08-16 20:43] metakirby5 commented on #13
I can't seem to find your `:{` example posted, could you point me to where it is?

Also, thanks to your log, I think I've pinpointed the reason for the `Loaded GHCi configuration...` issue you were facing. It looks like there is an extra `Prelude>` prompt before the interpreter actually processes the input. Codi works by ignoring all input up until the first prompt, and treating all prompts after

[2016-08-16 20:58] oblitum commented on #19
Yes, I thought about that too, I'm interested in that.

Sadly no, I get almost no feedback, I just get the "No matching autocommands" message from vim.

[2016-08-16 21:04] dkasak commented on #13
Uh, sorry, I forgot to post it apparently. :dancer:

Source:

[code]
Session terminated.
:b
GHCi, version 8.0.1: http://www.haskell.org/ghc/  :? for help
Loaded GHCi configuration from /home/dkasak/.ghci
Prelude> :b
The break command requires at least one argument.
Prelude>
[code]

[2016-08-16 21:07] metakirby5 commented on #19
Interesting... could you post your Vim and `script` versions? And perhaps record a screencast with [asciinema](https://asciinema.org/) if possible? Please show a successful run of `pulp psci` before you run `vim -c 'Codi purescript'`.

Regarding preprocess, you can basically clean up the output of the interpreter before it's handed off to the formatter, to git rid of messages that aren't useful. I

[2016-08-16 21:15] fwalch commented on #5
@metakirby5 Not that I really understand the problem, but you could try to also open an issue at https://github.com/neovim/neovim to see if the problems can somehow be solved.

[2016-08-16 21:16] oblitum commented on #19
This is my asciinema, it contains the vim version too: https://asciinema.org/a/bmmdzcgmiaheo3adwigsjq4bp

[2016-08-16 21:25] metakirby5 commented on #19
It appears that Python isn't working quite correctly either (4 doesn't show up). Can you paste the output of `man script`? I'm interested in the date, since old versions of `script` have been an issue.

[2016-08-16 21:26] metakirby5 commented on #5
@fwalch Good suggestion. If `pty

[2016-08-16 21:27] oblitum commented on #19
[code]
Python is working AFAIK, 4 is shown in the asciinema, maybe you have to replay it because this tool seems to cut some frames at random.

[2016-08-16 21:44] purag opened #20 "Error bells triggered on text change"
Vim version: 7.4
`script` version: December 4, 2013

Steps to reproduce:

1. Ensure all bells are enabled in your Terminal config
2. Vanilla `.vimrc` (besides plugin + Codi setup)
3. Start vim with `vim`
4. `:Codi javascript`
5. Start typing

Vim error bell is triggered on every text change event.

[2016-08-16 21:47] oblitum commented on #19
By the way. The date at the bottom of `man script` is JUN 2014.

[2016-08-16 21:50] oblitum commented on #19
It comes from this package on ArchLinux: https://www.archlinux.org/packages/core/i686/util-linux/

[2016-08-16 22:07] dkasak commented on #13
The extra prompt isn't actually printed if I run ghci by itself. What seems to be tripping Codi up is multiline support, so if I have `:set +m` in my `.ghci`, I get the `Loaded GHCi...` line and the output seems broken in several small ways. If I remove `:set +m`, the line disappears and basic things work as expected.

Those `:{ ... :}` blocks still don't work, though.

[2016-08-16 22:24] #20 closed

[2016-08-17 04:30] metakirby5 commented on #13
Odd, it seems to be working for me...

![](https://www.dropbox.com/s/dbye6hu7bhcfrr9/Screenshot%202016-08-16%2021.25.58.png?dl=1)

I also have enabled multi-line since you told me about it. If the issue persists even without any configuration, please update me. I will likely have to defer the issue until after a refactor I'm planning, which will include debug logging so I can take a better look at

[2016-08-17 09:18] metakirby5 commented on #19
Ah, I see that the text is a little cut off on the side on Asciinema - I believe you that it works correctly though. In any case, I'm able to reproduce the issue on my Ubuntu VM, and it has to do with `script` and/or Vim's job system not liking the space in `pulp psci`. The intermediate output is something like:

[code]

...which is odd, since there is clearly a matching end quote. I haven't found

[2016-08-17 11:31] oblitum commented on #19
Thanks for the report.

You're on the track but weirdly for me here on ArchLinux your command `script -qfec 'pulp psci' /dev/null` enters the REPL without problems. Anyway, I then created a script `pulp_psci` that's just 'pulp psci' to try the plugin using a single command and it now started to work!

Some things I've noticed:

- Typing code for the case where it's not working (with `pulp psci`) f

[2016-08-17 11:40] oblitum commented on #19
As you said before:

That should be the reason why I'm seeing this slowness.

[2016-08-17 13:32] oblitum commented on #19
I've found a fix, it looks like an issue with the new job API from Vim, I think this should be fixed upstream.

Your script does:

[code]

where `cmd` is `'script -qfec '.shellescape('pulp psci', 1).' /dev/null'`, which end up as `"script -qfec 'pulp psci' /dev/null"`, since `shellescape` will use single quotes, per docs, for strings containing whitespace. If you check `:h job_start`:

[code]

Not

[2016-08-17 13:44] Shougo commented on #19
Hi, what's?

[2016-08-17 13:46] oblitum commented on #19
@Shougo I've just cc you because I recall you implemented the job api on Vim right? It's just to inform you of this issues regarding commands containing whitespace.

[2016-08-17 13:52] Shougo commented on #19
Hm.  OK.
It should be reported to upstream.
But to escape arguments is very difficult.
I recommend for you to use the arguments list.

[2016-08-17 13:53] balta2ar commented on #15
Another framework to consider is https://github.com/thinca/vim-themis.

[2016-08-17 14:06] oblitum opened #22 "Syntastic-like errors"
It's just a feature request. It seems it would be nice if errors could be reported following a kind of Syntastic pattern, using the gutter, location list, etc, since sometimes error messages are quite long to display in a short single line. This way, in the Scratch buffer could simply omit the error messages (which gutter and location list can do a better job).

[2016-08-17 15:13] kedean opened #23 "Startup errors and very slow evaluation on macOS [needs a check for Vim 7.4]"
Installed with vim-plug and ran using OSX El Capitan (10.11.6). Running ":Codi python" from vim results in the following errors for a short time, then the plugin loads:
[code]

Once the plugin loads, evaluation is extremely slow. Evaluating just `"foobar"` takes around 5 or 6 seconds. This happens with the default python-2.7.10 that comes with El Capitan and with python-3.5.2 from Homebrew.

[2016-08-17 17:20] metakirby5 commented on #23
The lack of a QuitPre auto command leads me to believe that you have an older version of vim. Do you have at least 7.4?

[2016-08-17 17:25] metakirby5 commented on #22
Thats a fantastic idea! I've always thought the way Codi currently handles errors isn't the most elegant. Error detection is language dependent, but I have the feeling a regex will do just fine. I'll have to revisit this after some higher priority issues are taken care of, but thanks for the contribution :)

[2016-08-17 17:42] balta2ar commented on #15
One more candidate, just found it today: https://github.com/kana/vim-vspec

[2016-08-17 17:58] still-dreaming-1 commented on #17
Ah, yes your right. I tried requiring the file from node, not manually typing in the code from the file. When I do that it does say things like undefined in those places. It just means nothing was returned, it is not an error or warning, just the repl printing what was returned. It seems strange that the REPL expects anything to be returned in when you defining variables, but that has nothing to d

[2016-08-17 17:58] #17 closed

[2016-08-17 18:03] iovis9 commented on #23
Running on El Capitan here and it works flawlessly with no noticeable lag. Is it Homebrew's vim or the default OS X one?

[2016-08-17 18:32] still-dreaming-1 commented on #5
If you are interested in making this a remote plugin for Neovim support instead of using the job control, I might be able to help. I don't know if doing that makes sense for this type of plugin, but I am under the impression it tends to be considered a better way to make plugins. I am currently working on rewriting my project-tags plugin to be written in JavaScript / Node.js, so I am learning abou

[2016-08-17 18:50] kedean commented on #23
Looks like El Capitan comes with 7.3 by default. Installing 7.4 from Homebrew fixed the issue!

[2016-08-17 19:01] metakirby5 commented on #19
@oblitum Wow, I had no idea how I missed the list command form of job_start! That actually makes things a lot easier. Expect a commit addressing this soon.

@Shougo Thanks for chiming in and reporting :)

[2016-08-17 19:42] metakirby5 commented on #23
Good to hear! I need to put a check for Vim 7.4 in, so I'm leaving this issue open until I do.

[2016-08-17 20:05] metakirby5 commented on #19
@oblitum Can you check out the `user/metakirby5_2` branch (I sure am bad at naming) and see if it works for you?

[2016-08-17 20:09] oblitum commented on #19
@metakirby5 yes, it fixes.

Just a reminder that the spurious "No matching autocommands" message is still present.

[2016-08-17 20:13] #23 closed

[2016-08-17 20:28] metakirby5 commented on #19
The only thing I can think of that would be causing that is the user autocommands. I've added a wrapper around the triggers which checks if they exist - can you pull again and see if it resolves the issue?

[2016-08-17 20:36] oblitum commented on #19
Sadly it didn't work, the message still shows up.

[2016-08-17 20:38] oblitum commented on #19
One thing though. I've noticed the message shows up for `:Codi purescript` and not for `:Codi python`, despite the last commit being applied or not.

[2016-08-17 20:42] metakirby5 commented on #19
That's certainly interesting... would you happen to have any other plugins installed for the `purescript` filetype? Could you try running `:Codi purescript` using a `.vimrc` that contains nothing but the Codi-related plugin calls and settings?

[2016-08-17 20:57] oblitum commented on #19
Spot on, I've tried here and found out that the message shows up only when [FrigoEU/psc-ide-vim](https://github.com/FrigoEU/psc-ide-vim/) is on my plugin list. I've then removed code.vim from the plugin list while leaving just psc-ide-vim and tried `set ft=purescript` just after opening vim and the message appeared. So, this is a psc-ide-vim issue.

[2016-08-17 21:06] metakirby5 commented on #19
Great that we've isolated the issue! I'll go ahead and merge this in and close the issue.

[2016-08-17 21:06] oblitum commented on #19
OK. Thanks for the help! Feel free to embed PureScript support.

[2016-08-17 21:08] metakirby5 commented on #19
I think I'll actually leave PureScript out due to the caveat of requiring a `pulp init`. Since Codi is meant to be a scratchpad, it should ideally work anywhere as long as you have the interpreter. If there is enough demand for languages that require similar prerequisites, I'll give it some more thought :)

[2016-08-17 21:10] #19 closed

[2016-08-17 21:11] oblitum commented on #19
OK. Just like to comment that in PureScript development, AFAIK, it's always expected to run REPL inside a project, so it's not a problem to expect that from the user. In PureScript one starts the REPL in context with a project to try out importing their code and playing with it.

[2016-08-17 21:21] metakirby5 commented on #19
Hmm... seems reasonable. However, running `:Codi purescript` outside of a project provides no indication of what's not working, which is problematic for built-in behavior. I think I might need to add an optional 'precondition' which allows user-defined checking of dependencies such as having run `pulp init`. Since PureScript is the only language which requires this particular attribute, I don't wa

[2016-08-17 21:24] metakirby5 opened #24 "`precondition` interpreter attribute"
Implement an optional attribute which allows preconditions to be specified for an interpreter. For example, the PureScript `pulp psci` interpreter requires `pulp init` to have been run in the working tree.

cc: @oblitum

[2016-08-17 21:25] oblitum commented on #19
OK. Thanks anyway, being configurable as it is is a pretty good option.

[2016-08-17 21:59] metakirby5 commented on #5
@still-dreaming-1, I would like to keep project dependencies to a minimum - is that still possible with remote plugins?

In other news: I noticed a way to get NVim's async output to behave more like Vim's, and it seems to be working quite well. I've pushed the update to `user/metakirby5`. It seems to eliminate the weird output @iovis9 was mentioning. Everyone, please test when you get the chance!

[2016-08-18 00:20] still-dreaming-1 commented on #5
@metakirby5 It would probably add a dependency on whatever is needed to run the code in whatever language you wanted to write the plugin in. Depending on python is pretty standard though, if you wanted to write the plugin in python. Also users have to run `:UpdateRemotePlugins` inside Neovim after they install or update the plugin.

[2016-08-18 00:36] still-dreaming-1 commented on #5
I just tested it on `user/metakirby5`. I was already on that branch, and prior to the latest updates it was partially working with node. Now it doesn't work at all for me. I will try going back some commits and see where it changed...

[2016-08-18 00:37] metakirby5 commented on #5
@still-dreaming-1 Thank you for the detailed response. However, I disagree with you on one point - maintainability. If I'm not mistaken, remote plugins are only supported by Neovim. This would essentially fragment my codebase into a Vim implementation and an NVim implementation, which is undesirable. At the moment, I've created an adapter for both Vim's and NVim's job API's so they can cleanly sha

[2016-08-18 00:38] still-dreaming-1 commented on #5
Yes if you can have a small amount of VimL code that works in both that would be better.

[2016-08-18 00:39] metakirby5 commented on #5
Regarding the branch not working - what OS are you running? I've only tested it on OS X, as I don't currently have access to my Ubuntu VM. My suspicion is that it breaks because of the differences in `script` behavior between BSD and Linux.

[2016-08-18 00:43] still-dreaming-1 commented on #5
I'm on Linux Mint 17.3 which is based on Ubuntu 14.04 which is based on Debian.

[2016-08-18 00:54] still-dreaming-1 commented on #5
Commit `4757f976e5347b2963930df54ba11bad4e8ba28a` also does not work at all for me. `ce63b51244635c8168a90b00392e7b3bf37a11b2` partly works for me. The scratch buffer shows stuff, but it is kind of funky in a way that reminds me of the problems described above. It is different from what Vim shows.

[2016-08-18 03:55] metakirby5 commented on #5
@still-dreaming-1 Strange, it seems to work for me. What version of `script` do you have? Since you're on Linux, `script --version` should tell you.

[2016-08-18 06:44] justinmk commented on #5
Did you try the `pty` option of nvim's `jobstart`?

[2016-08-18 06:50] metakirby5 commented on #5
@justinmk `jobstart` has a `pty` option? I can't seem to find it in the [documentation](https://neovim.io/doc/user/job_control.html), is there a different document I should be looking at?

[2016-08-18 06:55] justinmk commented on #5
See `help jobstart`. It runs an actual (pseudo) terminal in the job. It may avoid the need for `script` entirely, including on Windows when we merge support for winpty.

[2016-08-18 07:04] metakirby5 commented on #15
I've been thinking about this for a bit, and I don't know if either framework can satisfy the requirements of testing Codi, namely:

- Test both Vim and NVim in one go
- Test using both BSD and Linux versions of `script`
- Support asynchronous assertions (i.e. fill buffer with code and assert the contents of the Codi buffer on `CodiUpdate`)

I might just have to roll a custom solution for this. Th

[2016-08-18 07:06] justinmk commented on #5
Use `jobsend` to send keys to the pty spawned by `jobstart`.

[2016-08-18 07:11] metakirby5 commented on #5
@justinmk OMG, that's a game changer. It looks like things are working really well with it. I'll play around with it some more before pushing up a change to my branch.

[2016-08-18 07:16] metakirby5 commented on #5
@justinmk @still-dreaming-1 @iovis9 would you mind giving the latest commit a go?

[2016-08-18 08:46] iovis9 commented on #5
You got the attention of the neovim team haha. I'll check out the changes :)

[2016-08-18 08:51] iovis9 commented on #5
Testing against 64279c163fd7ddcae938aae534774e80641dc196 and NVIM v0.1.5-762-gdfb6a51.

The plugin "feels" better in performance, output issues not solved.
![screen shot 2016-08-18 at 10 50 52](https://cloud.githubusercontent.com/assets/6660202/17767781/afa64d56-6531-11e6-8d25-2fe8505f050f.png)

[2016-08-18 09:13] metakirby5 commented on #5
Thanks for testing it out! It's so weird that you and I have nearly the same setup, but I can't reproduce the output issue on my machine after the latest commits. It appears to work just as well as the Vim version both on my OS X machine and my Ubuntu VM. Can you double-check if you have the changes introduced by 4757f976e5347b2963930df54ba11bad4e8ba28a?

[2016-08-18 09:26] iovis9 commented on #5
Huh. I doubled checked and, sure enough, I had the changes. Tested again just in case and all the weird output disappeared... 😕

[2016-08-18 12:58] still-dreaming-1 commented on #5
It's working! :D This is the coolest plugin I have seen in a while. Just recently I have been really wanting something like this. So recently a couple of my dreams have come true. The code from the file I'm writing in can be run through a REPL as I write it in the file, I can run a browser inside my editor if I use NyaoVim... I wonder what will happen next! BTW, codi works in NyaoVim too! Not that

[2016-08-18 13:19] balta2ar commented on #5
@still-dreaming-1 I'm curious to see your workflow in NyaoVim + Codi. Could you share a short movie demonstrating how you use them together, maybe as gif? In fact, I'm more interested in NyaoVim because I'm already using Codi myself. Thanks!

[2016-08-18 13:24] still-dreaming-1 commented on #5
@balta2ar I'm still just experimenting with them at this point. But you can checkout some videos and watch me code live here: https://www.livecoding.tv/still_dreaming_1/
Nothing that shows off anything good with NyaoVim or Codi yet.

[2016-08-18 15:01] hoschi commented on #5
For me the output is cutted in NeoVim (terminal UI), I see "undef" instead of "undefined" for an JS example.

[2016-08-18 17:59] metakirby5 commented on #5
@hoschi can you post a screenshot and/or screencast, OS, `script` version, and Vim version?

[2016-08-19 00:10] still-dreaming-1 commented on #5
My editor also has some quirky behavior when running codi. It goes back to normal when I close the scratch buffer. If I press d twice to delete a line, and do this repeatedly, it will start deleting a line with each d press instead of requiring 2. This only happens if I press d fast enough. Sometimes V will go into and out of visual mode with a single keypress.

[2016-08-19 08:04] hoschi commented on #5
@metakirby5
Here you see the state after `:Codi` with the cutted text on the right side:
![2016-08-19-100056_986x633_scrot](https://cloud.githubusercontent.com/assets/163128/17803018/eb340094-65f3-11e6-9da7-ed1f1f9d9b1d.png)

Here I dragged the splitter to the left, to show it evaluates the code:
![2016-08-19-100109_986x633_scrot](https://cloud.githubusercontent.com/assets/163128/17803044/0df782fe

[2016-08-19 12:21] spinningarrow opened #25 "Throws errors when Tern is installed"
I don't know if this is an issue with Codi or TernJS, but I often see errors like this while I'm typing:

<img width="856" alt="screen shot 2016-08-19 at 5 37 53 pm" src="https://cloud.githubusercontent.com/assets/1797328/17809620/7b2bfbac-6635-11e6-80fa-ec8d7d9b428a.png">

Any idea what could be causing them and how to fix it?

[2016-08-19 19:36] metakirby5 commented on #25
That's interesting - how consistently and with what frequency does this issue happen? Is it with every keystroke, or seemingly at random on some keystrokes? My suspicion that the asynchronous buffer switching that Codi does is interrupting the `tern_sendBufferIfDirty` call. In the event where the buffer switches at, for example, [this line of code](https://github.com/ternjs/tern_for_vim/blob/34c51

[2016-08-19 19:46] metakirby5 commented on #5
@still-dreaming-1 Would you mind telling me all the details to reproduce the issue? e.g. filetype used, exact buffer contents, location of cursor prior to actions, keystrokes to reproduce bug, etc.

@hoschi Did you need to resize the buffer at all to reproduce the issue? Also, can you run Codi with `nvim -c 'let g:codi#rightalign = 0 | Codi` _.js`? That should left-align the Codi buffer; I just wa

[2016-08-19 20:15] iovis9 commented on #5
@hoschi I can't reproduce the issue.
![screen shot 2016-08-19 at 22 13 04](https://cloud.githubusercontent.com/assets/6660202/17822945/434e1786-665a-11e6-8a20-7c1edc9ee4e6.png)

NVIM v0.1.5-762-gdfb6a51
OS X 10.11.6

[2016-08-19 22:38] oblitum commented on #19
For information. The vim message issue has been fixed in the affected plugin https://github.com/FrigoEU/psc-ide-vim/issues/17

[2016-08-20 13:43] still-dreaming-1 commented on #5
I'm having trouble coming up with an exact reproduce case, but I will keep working on that. For now I can tell you I am working with .js files, so node is the REPL. For most .js files that I open, if I move the cursor partway down the file, and then press d fast enough, eventually every keystroke deletes a line instead of every 2 keystrokes.

[2016-08-20 14:15] still-dreaming-1 commented on #5
Here is a good reproduce, just place this in a .js file:
[code]

Move the cursor down to line 8. If you repeatedly press d fast enough, eventually every keystroke will delete a line instead of every other keystroke. I will keep working on narrowing this down more by disabling all my plugins and mappings and see if I still have this issue.

[2016-08-20 14:39] still-dreaming-1 commented on #5
I have confirmed I have this issue and that reproduce works when the only thing in my config is enabling the codi.vim plugin. I'm on NVIM 0.1.5-dev. I used the Ubuntu ppa mentioned here to install Neovim: https://github.com/neovim/neovim/wiki/Installing-Neovim

My `script --version` says `script from util-linux 2.20.1`

[2016-08-20 21:02] metakirby5 commented on #5
@still-dreaming-1 I was able to reproduce it on my machine - I'll take a look.

[2016-08-21 02:29] still-dreaming-1 opened #26 "Question about user-defined interpreters"
According to the documentation, `g:codi#interpreters` is a dictionary of user defined interpreters. It also says it will not erase the internal default interpreters. Does this mean there is currently no supported way of customizing how the built in interpreters work? As in If I make my own javascript interpreter, it will have no effect because it will not overwrite the built in one? The reason I a

[2016-08-21 02:36] still-dreaming-1 commented on #26
I just realized I should be able to get my testing framework to work without that feature, it will just require a little extra code at to be added to the top of each test file. Anyway this is still a question I have, just wanted to mention that.

[2016-08-21 02:41] metakirby5 commented on #26
Sorry for the unclear documentation - you are in fact able to override the default interpreters. What I wanted to mean was if you define your own interpreters,  you'll still be able to use the defaults. Also, the definitions are deeply updated, so if all you want to change is the bin, the default prompt regex is still applied. I'll leave this open until I fix up the documentation. If you have any

[2016-08-21 08:32] hoschi commented on #5
@iovis9
I debugged my config and found the problem:
[code]

[2016-08-21 14:42] still-dreaming-1 commented on #5
It seems now that Neovim support is partly working, mabye these could be turned into separate issues. It seems like this is becoming a place to get help for any Neovim issue. I can make mine a separate issue if you want? Maybe this branch is ready to merge into master if it will not cause issues in regular Vim?

[2016-08-22 01:43] challsted commented on #5
@still-dreaming-1 :+1: i like that idea, seperate it out into actual issues instead of just just an umbrella

[2016-08-22 02:18] metakirby5 commented on #5
Good idea - better to resolve the NVim issues one by one instead of in one big thread. After I make some documentation changes I'll merge it in.

[2016-08-22 03:05] tjdevries commented on #15
Personally I like this. You might be able to get it to work for you.

Might have to do some work with setup to get vim and nvim working together? not sure.

https://github.com/junegunn/vader.vim

[2016-08-22 07:43] #13 closed

[2016-08-22 07:43] metakirby5 commented on #5
Merged! Please re-open outstanding issues individually :)

[2016-08-22 07:43] #5 closed

[2016-08-22 07:48] #26 closed

[2016-08-22 08:01] justinmk commented on #5
So `script` is not needed with nvim, correct? Might want to mention that in the readme/doc.

[2016-08-22 08:02] metakirby5 commented on #5
@justinmk Good catch - will mention that.

[2016-08-22 16:54] spinningarrow commented on #25
It's seemingly at random on some keystrokes. Perhaps it's worth disabling Tern when Codi is enabled.

[2016-08-22 18:31] Bretley opened #27 "breaking up larger outputs."
Is there a way for Codi to break a longer list up onto multiple lines? I've been using Codi with pwntools for exploitation (It's actually working fairly well!) and commonly some of the lists have 20 or so strings and it's off the screen. Thoughts?

[2016-08-22 19:08] still-dreaming-1 commented on #15
Perhaps this is already understood or missing the point, but something like [Travis CI](https://travis-ci.org/) might be helpful. I believe it creates a fresh VM for each test and installs different software and then runs tests on it. So you could have it install Vim, Neovim, different versions of script, etc. You may want to use that in conjunction with an existing Vim testing framework.

It also

[2016-08-22 23:13] metakirby5 commented on #27
Glad to hear you're enjoying Codi!

Unfortunately, multi-line output clashes with line-wise evaluation. It could be possible to show more output only if the corresponding lines evaluate to nothing (i.e. empty lines in the main buffer), but it would require a pretty big overhaul of the core logic. The change would be a gain in this particular use case, but would have no effect on the common use cas

[2016-08-22 23:14] metakirby5 commented on #25
I'll take a closer look when I get the chance, but it is unlikely that this issue will be fixed. If anything, I'll add a warning about the asynchronous buffer switching Codi does behind the scenes to the documentation.

[2016-08-23 03:16] metakirby5 commented on #15
@tjdevries I also wanted to give vader.vim a shot, but I wasn't sure if it would support async in tests. However, I haven't looked all that deeply into it, so I'll try it out.

@still-dreaming-1 Interesting, I wasn't aware Vim had OO support. Breaking functionality up into logical pieces will certainly help with overall testability. I also knew of Travis CI but haven't had extensive experience wit

[2016-08-23 10:37] spinningarrow commented on #25
Sure. Thanks for the useful plugin!

[2016-08-24 01:19] still-dreaming-1 commented on #14
@metakirby5 As you said, logs are really helpful for debugging complex VimL issues. You can create your own log function that doesn't do anything unless the user defines a log path in their config. You can then safely keep logging calls in your code at points where it is doing interesting things. Here is some code that appends some text on a new line to a file:

[code]

See `:h writefile()`. Also,

[2016-08-24 01:44] still-dreaming-1 commented on #15
Now if there was a good VimL REPL, then I could definitely see making your own testing framework being a good thing. This is because you could design that framework in such a way that the code that appears in the test files could be entered into a REPL and have that in itself run the tests and show the feedback from failing assertions. Actually I think testing frameworks that are designed to run t

[2016-08-24 20:24] still-dreaming-1 commented on #26
Thanks for the help. Is changing the bin the best way to pass parameters to the REPL?

[2016-08-24 20:40] still-dreaming-1 opened #28 "Strange behavior in Neovim"
I thought it was working better in Neovim for me, but that didn't last very long. It is hard to say exactly what does not work right because even the reproduce case that I originally provided is not consistently working to reproduce that issue now. In general after using codi in Neovim for any length of time the behavior of Neovim just becomes generally wonky. I realize that is not exactly a helpf

[2016-08-24 21:09] metakirby5 commented on #26
Yes. It wouldn't be great to override the default Codi behavior for all javascript files though, so I suggest making a custom filetype for living-tests like `jslt` or something, so you can set the interpreter settings for only living-tests files.

[2016-08-24 21:36] still-dreaming-1 commented on #26
What about changing the directory node is started from (not in)? It seems node is started from whatever directory is the current working directory in Vim. This makes sense in a way, but it creates some problems. If the code in the script needs to require another file, it makes it hard to know what the correct path is. In node, if the code that was running was required from another place, then the

[2016-08-25 05:02] metakirby5 commented on #15
@still-dreaming-1 living-tests is pretty cool! While I don't think I should be using Codi to be testing Codi (as in that case, one bug can cause completely unrelated tests to fail), I think the instant feedback test framework idea has a lot of merit.

[2016-08-25 05:27] metakirby5 commented on #26
As long as there is an option to revert to the original behavior (which is more consistent with Vim in general), I think this is a reasonable default, given the nature of REPLs. Please file a separate issue for this, though :)

[2016-08-25 05:31] metakirby5 commented on #28
I think it's better to only file specific issues that have consistently identifiable symptoms, and preferably steps to reproduce. Now that we have a Gitter, we can move discussion like this over there.

P.S. feel free to shoot me an email if you want to talk about things that don't belong in issues nor Gitter.

[2016-08-25 05:31] #28 closed

[2016-08-25 13:40] still-dreaming-1 opened #30 "Start REPL from the directory of the file being edited"
It would be helpful for me to have the REPL start from the directory of the file being edited instead of starting it from Vim's current working directory, at least for node. This would allow the script to require() files using a path relative to that file, which is what node programmers normally do. This might be a good default for other REPLs as well, but I am not sure. Perhaps there could be an

[2016-08-27 07:40] Varzeki opened #31 "Scratchpad opens with no output"
Vim Version: `VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Mar 14 2016 17:18:53)`
Kernel: `4.4.3 TuxOnIce`
OS: `Gentoo`

Scratchpad opens with no output in both ruby and python files.
![2016-08-27-173952_922x490_scrot](https://cloud.githubusercontent.com/assets/10348132/18025988/53bf110a-6c7d-11e6-9ee4-3d864b07aff1.png)
![2016-08-27-173916_922x490_scrot](https://cloud.githubusercontent.com/assets/

[2016-08-27 08:03] metakirby5 commented on #31
Can you test this out with a vimrc that only has what's needed to get Codi on your system? i.e. No other plugins or settings. I want to see if this is a plugin or setting conflict issue.

[2016-08-27 08:16] Varzeki commented on #31
Using http://hastebin.com/uguyirinaq.sql as my .vimrc, no other plugins loaded except for Vundle, and the only change in output is lack of a colourscheme.
![2016-08-27-181411_922x490_scrot](https://cloud.githubusercontent.com/assets/10348132/18026189/58637778-6c82-11e6-8f05-188561d9f186.png)

[2016-08-28 18:43] rlisowski commented on #31
I see the same issue.
NVIM v0.1.6-22-g97c6d80
OS X 10.11.6

[2016-08-29 20:25] still-dreaming-1 commented on #28
I'm not sure that only filing specific issues make sense when the issue is that everything is an issue. I don't know how to quantify that. Perhaps I was wrong about closing the general nvim support issue... Is this working well in Neovim for anybody? I don't mean like you tried it out and it seemed ok, but that you actually use it and it works pretty well?

[2016-08-29 20:42] balta2ar commented on #15
Here is another one: https://github.com/google/vroom

[2016-08-30 03:53] metakirby5 commented on #28
I haven't extensively tested in NVim. This is more or less a band-aid solution until I rework things to use Python's pty module + threads, which I think should solve most issues since it will allow me to have a much greater degree of control over the output and asynchronicity.

[2016-08-30 17:59] juliosueiras commented on #27
Hi, sorry to bother, if multiline was implemented, does that enable most interpreted language(even one that aren't like root for c) , since I try to implement Io, and Scala into codi.vim(since there is only two place require for adding a new language/interpreter), Io is working though only printing the first line, same goes for scala, my question is since multiline output on side would break the p

[2016-08-30 19:13] still-dreaming-1 commented on #28
So right now I'm learning python so I can help work on this so codi will work better with my favorite editor so I can use codi with my testing framework with that editor so I can debug and test faster while working on a plugin for that editor so I don't have to wait while tags are being generated... XD

[2016-08-31 03:56] metakirby5 commented on #27
@juliosueiras No problem! Multi-line as one long output is currently not possible because of the line-wise nature of preprocess. It currently is this way because of how asynchronous output is buffered. I have plans for changing this behavior, but I probably won't get to implementing it for a little while since things are a bit busy for me.

Regarding the Tagbar approach, that could be a good idea.

[2016-08-31 12:18] still-dreaming-1 commented on #28
Here is something interesting. In Neovim type `:h provider-python` It says

[2016-08-31 13:13] gillescastel opened #33 "Codi only displays the last line of the output, which is not always the expected behavior."
Problem: Codi only displays the last line of the response.

* * *

Behavior of Codi:

![image](https://cloud.githubusercontent.com/assets/7069691/18129821/b60722f0-6f8c-11e6-9b2c-7a95a967c9e2.png)

Expected behavior:
[code]

Minimal test case:

[code]

* * *

Same for javascript:
[code]

Using Codi, only the last line, `undefined`, is shown.

How could this be resolved?

Thank you for this great p

[2016-09-01 05:05] metakirby5 commented on #33
This is something which is being discussed at #27. Due to the line-wise nature of Codi, multi-line output is currently not supported. However, using folds is a possible compromise.

Closing this because of its similarity to #27.

[2016-09-01 05:05] #33 closed

[2016-09-01 17:37] SuprDewd commented on #31
I'm also seeing the same behavior on NixOS unstable, although it may or may not be related.
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Jan  1 1970 00:00:01)
I also don't see +/-job or +/-channel, so maybe I'm using a version of Vim that's too old?

But I tried opening Codi and wrote `"test"`. strace gave the following output:
[code]

Notice that Codi seems to be writing extraneous \4\4 into the

[2016-09-02 13:35] still-dreaming-1 commented on #31
I'm having the same problem in Vim, but not in Neovim. But I only have this problem with python, not with node. I spend quite a lot of time debugging it. So far I have narrowed it down to inside autoload/codi.vim in the `s:codi_handle_data()` function, `a:data['received']` only ever gets up to 1 and `a:data['expected']` is 10.

[2016-09-02 14:27] still-dreaming-1 commented on #31
Ignore what I said before. I deleted it because it was inaccurate. I messed something up when I was debugging. But It is true I am having this same problem in Vim when using Codi with python.

[2016-09-03 00:49] cirqueit opened #34 "slow evaluation for Clojure"
Thanks for the awesome tool!

I added Clojure via `lein repl`. Works well though really slow.
 Is this to be expected?

[2016-09-03 00:57] metakirby5 commented on #34
Since Codi spins up a repl with every keystroke, the result will take as long as it takes to start the repl up and evaluate the code. Does `lein repl` take awhile normally? If so, this is expected behavior. I recommend setting `autocmd` to `CursorHold` for slower interpreters, to avoid unnecessary cycles on results you won't ever see.

BTW, feel free to contribute your Clojure configuration :) Che

[2016-09-04 02:16] cirqueit commented on #34
Makes sense.

I went back and started experimenting.
I now have two clojure/clojurescript solutions:

 - `planck` a clojurescript command line tool / REPL which takes < 1 sec to update

- `grenchman repl` which is instant, but connects to an existing nREPL (so need to launch before / configure)

I'll make a pull request later this weekend.

[2016-09-04 03:10] metakirby5 commented on #34
The `grenchman repl` solution you propose is interesting, because this presents a good use case for #24. If you have the time, I absolutely encourage you to give it a shot - it should probably implemented as a quick system call where the return code is checked. For example, only allow clojure if grepping for the nREPL process returns 0. Let me know what you think.

[2016-09-04 09:48] cirqueit commented on #34
Turns out I jumped the gun with `grenchman`. It's instant but doesn't support [multiline inputs](https://github.com/technomancy/grenchman/issues/16) and requires using an existing `nREPL` instance (by having a `project.clj` file and running `lein trampoline repl :headless`). Here's the relevant lines if anyone wants to experiment while I figure out what to do.

`'bin', ['grench', 'repl'],`

`planc

[2016-09-05 00:08] metakirby5 commented on #30
Closed with #32.

[2016-09-05 00:08] #30 closed

[2016-09-06 03:30] #34 closed

[2016-09-08 22:48] davidmh opened #37 "Breaking the repeat command"
I'm not sure if this is just an incompatibility problem with [vim-repeat](https://github.com/tpope/vim-repeat) or the repeat command in general.

Sometimes codi can't replicate the last operation with the dot command.

I can reproduce the issue everytime using [vim-unimpaired](https://github.com/tpope/vim-unimpaired)'s `]e` to swap lines

With codi off:
https://gfycat.com/VapidUnfitCopperhead

Wit

[2016-09-09 02:11] metakirby5 commented on #37
Thanks for the report. I've just pushed up a fix for `g:codi#sync` (I had inadvertently broken it. I'll write tests someday!), so would you mind updating your `Codi` install and trying `]e` with `vim -c 'let g:codi#sync = 1 | Codi' filename.py`? Synchronous should be compatible. Asynchronous behavior still seems broken, but I'm looking into it.

[2016-09-09 02:14] metakirby5 commented on #25
Hey, it just occurred to me - have you tried using Tern + Codi with `g:codi#sync = 1`? This might "fix" the problem, in the sense that it will work with synchronous code.

[2016-09-09 03:42] spinningarrow commented on #25
Nope, I haven't tried that yet - let me do that and get back to you.

[2016-09-09 04:44] davidmh commented on #37
Yes, it does solve the problem, it moves the cursor to some odd positions, but it's completely functional. Thank you.

Great plugin, btw!

[2016-09-09 05:47] metakirby5 commented on #37
What do you mean by moves the cursor to some odd positions? Are you sure you have the latest version? I believe I know what you're talking about but I thought I had just fixed that.

[2016-09-09 06:25] davidmh commented on #37
You're right, looks like I only thought about updating the plugin but I obviously didn't.

I did find another problem, this time with the jump commands `CTRL-O` and `CTRL-I`. They create empty buffers between jumps.

https://gfycat.com/WaterloggedElasticKarakul

Could it be related?

[2016-09-12 08:16] metakirby5 commented on #37
Unfortunately, I haven't found a way of buffer switching without adding it to the jumplist. I tried `keepjumps`, but it didn't seem to work. The ideal solution would be to update the Codi buffer without switching buffers at all, but I don't know of a way to write to a buffer other than the one you are on. If you have any suggestions, please let me know :)

[2016-09-14 22:47] bluddy opened #38 "OCaml: changing higher lines doesn't affect lower results"
Using codi in OCaml, it works fine for several lines. However, once I go up and change a value in a previous line, the output isn't changed, and in fact, it seems to lose all synchronization.

Tried on both vim 8.0 and neovim.

[2016-09-15 07:07] metakirby5 commented on #38
Can you edit your issue to follow the [issue template](https://github.com/metakirby5/codi.vim/blob/master/ISSUE_TEMPLATE.md)? It's very difficult to reproduce the issue if I don't know how to reproduce it.

[2016-09-18 07:28] metakirby5 commented on #31
Sorry I've left this issue hanging for a bit. Would people with this issue mind putting the output from the new `g:codi#log` option into a pastebin so I can take a look? Also, giving me the version of `script` would help greatly. Finally, if possible, @rlisowski and @SuprDewd please provide a minimal `.vimrc` that I can use to try to reproduce the issue (although I have a feeling that it's not the

[2016-09-19 09:19] rlisowski commented on #31
codi started with shell wrapper http://pastebin.com/mYscEDDv
started via command http://pastebin.com/hY0PxP0v
here is my [vimrc](https://github.com/rlisowski/dotfiles/blob/master/.vimrc)
I also tried with almost empty vimrc with the same result. Then I upgraded vim to [8.0](http://pastebin.com/Q22QKi0t) without any effect.

[2016-09-19 09:26] rlisowski commented on #31
I also tried `NVIM 0.1.6-dev` I can see data in log but scratchpad is empty.

[code]

[2016-09-21 20:20] justrajdeep commented on #31
@metakirby5

How do i do that?

[2016-09-21 21:00] idbrii commented on #31
@justrajdeep

 1. Open a new vim buffer.
 2. Enter insert mode.
 3. `Ctrl-r=g:codi#log<CR>`

[2016-09-21 23:10] justrajdeep commented on #31
`g:codi#log` is empty for me :(

the following is the dump from `let g:`

syntastic_auto_loc_list #1
indentLine_leadingSpaceEnabled #0
UnconditionalPaste_Separator  ^I
ctrlp_working_path_mode
netrw_special_syntax  #1
cscope_cmd             cscope
lightline#colorscheme#default#palette {'inactive': {'right': [['#262626', '#606060', 235, 241], ['#585858', '#262626', 240, 235], ['#585858', '#121212',

[2016-09-22 09:02] joelchrist opened #41 "Hanging on infinite loop"
## Issue description
Codi hangs when writing the following piece of code in JavaScript:
[code]
## Environment
- Mac OSX El Capitan
[code]

[2016-09-22 17:52] fwip commented on #41
See: https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt#L79

I wonder if it would be possible to set a user-configurable time-out value that would stop/kill the interpreter after N seconds? I don't really know how vim async support works.

[2016-09-22 21:52] still-dreaming-1 commented on #31
I'm having this same problem with Vim with python. Neovim does not have this problem. Actually the output buffer does get filled when there is a syntax error, but if I just type a simple statement like 5 + 3, there is no output.

Here is the very minimal vimrc I am using to reproduce this:

[code]

Here is the log output:

[code]

[2016-09-22 22:03] obxhdx commented on #17
@still-dreaming-1

Node provides an option called `ignoreUndefined` ([source](https://nodejs.org/api/repl.html#repl_repl_start_options)) that you could use to work around this. Here's what I did:

First create a custom REPL that sets `ignoreUndefined` to true:

[code]

Save it in a file somewhere with execution rights:
[code]

Then configure Codi to use your custom REPL instead `node`:

[code]

[2016-09-22 22:21] still-dreaming-1 commented on #28
It seems to be working great in Neovim for me now, even better than it does in Vim.

[2016-09-25 03:47] metakirby5 commented on #41
@joelchrist Can you define "hangs?" With `+job` and `+channel`, input should still be responsive, but the Codi pane should not update in the case of an infinite loop. Codi only updates the buffer after execution has finished.

@fwip I can see how the timeout would be useful for users that don't have async, but it seems like it's not very helpful for most users, and not helpful in the typical use c

[2016-09-25 04:10] fwip commented on #41
Sorry; I probably shouldn't have mentioned it there, it's not really well-thought out enough for a feature request or anything.  I was thinking that a suitably large value (like, say, 10 seconds) would kill jobs that happened to be stuck in an infinite loop, but be long enough to not interfere with any 'normal' usage. If the user set, say, `let g:codi_interpreter_timeout = 10` then it would try to

[2016-09-25 09:56] metakirby5 commented on #41
@fwip No problem, your input is always welcome :) I think we're all very new users of Codi, since it's only been out for two months. I'm just not sure what benefit a timeout would have for async users (which should be a majority), since on any buffer change, the existing job is killed and a new job is spawned. This should prevent any unresponsiveness in the asynchronous case.

This setting in the

[2016-09-25 21:16] fwip commented on #41
Oh, I didn't understand that the existing job would be killed as soon as a new one started - that makes a lot of sense!

[2016-09-26 15:55] still-dreaming-1 commented on #17
@obxhdx That seems to be the best solution if we don't want to see undefined, which is saying something bad about the node REPL. I actually don't want to completely disable showing undefined in the REPL when that is what is returned, but I don't want node to do ridiculous things like show undefined when defining a variable. It should output the contents of the variable like any normal REPL would.

[2016-09-26 15:57] metakirby5 commented on #17
FYI, this was resolved with #42.

[2016-09-26 22:44] idbrii commented on #31
@justrajdeep: Oops. Nevermind what I said. Do what @still-dreaming-1 said instead.

[2016-09-27 13:38] justrajdeep commented on #31
This is my `codi_log`  output

[code]

[2016-10-05 03:07] docwhat commented on #31
I'm having this issue with `ruby` and `python`... I fixed it by removing/renaming my `~/.irbrc` and `~/.pythonrc.py` (the value of `$PYTHONSTARTUP`).

I was able to fix it with this snippet...

[code]

I think Codi could check that the settings for each interpreter is "sane" before continuing...

maybe add a `replcheck` to `g:codi#interpreters` that has a language specific command and expected res

[2016-10-05 03:46] metakirby5 commented on #31
@docwhat I was originally a bit apprehensive to override user settings, but it makes sense in this context. I'd love if you would submit a pull request for this.

[2016-10-05 04:17] docwhat commented on #31
@metakirby5: Done!

[2016-10-05 07:19] Qix- opened #45 "Strange error when closing Codi on NeoVim / OS X"
On OS/X El Capitan using NeoVim v0.1.3-350-gc94575f, I get the following error when using `Codi!`:

[code]

Codi still seems to work fine but it forces me to hit Enter before I can do anything else again and for whatever reason `silent!` doesn't seem to fix it.

[2016-10-05 07:34] Qix- opened #46 "Codi inside VirtualEnv"
OS/X El Capitan, Neovim v0.1.3-350-gc94575f.

Codi inside of a virtual environment seems to be broken. I did a quick search for _virtualenv_ and didn't see anything. Unfortunately this is a bit of a show-stopper for python :/

![codi](https://cloud.githubusercontent.com/assets/885648/19104781/46541248-8a93-11e6-88b8-7332471e78be.gif)

I've even tried doing `pip install neovim` inside of a virtuale

[2016-10-05 07:51] metakirby5 commented on #45
Can you provide more context and logs? e.g. how did you start vim, any keystrokes to reproduce the issue, whether or not this happens with a minimal vimrc, etc.

[2016-10-05 07:52] metakirby5 commented on #46
Can you post the logs? I know what might be wrong, but I can't reproduce the issue.

[2016-10-05 08:18] Qix- commented on #46
Here you go - I basically did exactly what is in the gif. From within the virtualenv:

[code]

[2016-10-05 08:23] Qix- commented on #45
Here are the logs:

[code]

I'm using Codi with the following mappings:

[code]

The error occurs when opening Codi and then closing it directly after using something like `<C-A-p>` and then a successive `<C-A-\>`.

The following init.vim causes it as well.

[code]

[2016-10-06 22:13] blueyed commented on #31
Can be closed since https://github.com/metakirby5/codi.vim/pull/44 is merged - assuming that it fixes it also for the reporter.

[2016-10-06 22:18] blueyed opened #47 "Display all output when no prompt was found?"
I think it might be useful to put all output into the scratch buffer in case the expected prompt was not found.

This would help with issues, where e.g. `rlwrap` complains `rlwrap: error: My terminal reports width=0 (is it emacs?)  I can't handle this, sorry!`.
In this case the scratch buffer could have a note that something failed and provide that output (which means to remove the input that codi

[2016-10-06 22:37] Qix- commented on #47
One problem you're going to face with this is the fact that Codi attempts to line up REPL output to the source buffer's line.

At the most this would be a debug option and I wouldn't be surprised if it already existed (it does in logs, but I don't know if the logs go to the scratch buffer like you'd expect).

[2016-10-06 22:45] blueyed commented on #47
The error case means that there is nothing to line up, but only the error.  This could be also detected through the exit code maybe additionally.
The logs are not put into the scratch buffer, but into a file.

[2016-10-07 15:09] still-dreaming-1 commented on #31
Does not work for me. When I type in `5 + 10` into a python file with Codi going, nothing shows up. When I first start typing, and all that is entered is the `5`, nothing shows up. As I continue to type, when it says `5 +`, I see "SyntaxError: invalid syntax". Then when I add the `10`, as in it shows the full `5 + 10` it goes back to being blank. So it is only showing output when there is a syntax

[2016-10-07 16:45] blueyed commented on #31
@still-dreaming-1
Please enable logging (`let g:codi#log = '/tmp/codi.log'`) and provide it's output then.

[2016-10-07 17:41] still-dreaming-1 commented on #31
Ok, here is the Codi log when I type in those exact keys as described:

[2016-10-07 18:31] docwhat commented on #31
You can see that it's working behind the scenes... it calculated `5 + 1` and `5 + 10` as @still-dreaming-1 typed.

Does running `:CodiUpdate` after typing help?  I can't think why the updating would stop working in (neo)vim.

[2016-10-07 18:33] still-dreaming-1 commented on #31
`:CodiUpdate` did not help. I only have this problem with Vim, not Neovim.

[2016-10-07 18:43] still-dreaming-1 commented on #31
Since this is working correctly in Neovim, I thought it might be helpful to post the Codi log when using Neovim, so they can be compared:

[2016-10-07 18:49] still-dreaming-1 commented on #31
That didn't post the entire log for some reason. Now it shows the whole thing.

[2016-10-07 19:20] blueyed commented on #31
With Vim you are getting the prompt like `>>> >>> ` and then Codi does not recognize it.
Which Vim version do you have?
Also consider trimming the comments from above: it's not necessary to have that much from the logs.
Also consider adding some `s:log` calls in `s:codi_handle_done` to see what's going on.

[2016-10-07 19:22] blueyed commented on #31
I am unsubscribing myself from this issue (so please mention me if necessary).
See https://github.com/metakirby5/codi.vim/issues/47 for a suggestion to help with debugging things like this.

[2016-10-07 22:34] still-dreaming-1 commented on #31
It may be a long log file, but that entire thing was produced just from quickly pressing those few keys. It is interesting that the log file is much longer for Neovim, which may or may not be enlightening.

[2016-10-07 22:39] still-dreaming-1 commented on #31
Hmm. Maybe I should update my Vim version again. You know what, that is probably the problem. I forgot that I built Vim myself to get a newer version, but with these async features being new and changing, it probably runs differently on the newest version.

[2016-10-08 19:40] metakirby5 commented on #47
This is currently not possible because the code keeps count of the number of prompts seen until the expected number is reached, at which point it ends the process and shows the output. In your example, Codi would be waiting for a prompt that never comes. However, it can't just display the output, as it doesn't know whether or not the program is just taking awhile to display the first prompt. Maybe

[2016-10-08 20:58] blueyed commented on #47
My idea was to handle this when the output/job is done: if there was no prompt found, (and/or the exit-status is non-zero) it would display the last line(s) from the output.

[2016-10-10 04:22] metakirby5 commented on #47
I suppose that could work. I don't have the bandwidth to do more feature work on Codi at the moment, but I would happily accept pull requests for this.

[2016-10-20 21:18] Chun-Yang opened #50 "Feature Request: auto-detect filetype?"
[code]

Right now I have this hack. Can we have a better solution in codi itself?

[2016-10-24 01:11] metakirby5 commented on #50
Codi has supported this since its creation - have you tried just running `Codi!!`?

[2016-10-24 01:25] metakirby5 commented on #46
Quite odd that I can't reproduce this. Does this occur when using vim instead of nvim?

[2016-10-24 01:34] metakirby5 commented on #45
Can't reproduce this. Does this also happen with vim instead of nvim?

I'm baffled as to why this could be happening; the lo g line `Stopping job for buffer 1` should be using the same buffer number as `keepjumps keepalt buf! 0`, as [they are both passed in as the `bufnr` argument](https://github.com/metakirby5/codi.vim/blob/master/autoload/codi.vim#L486).

[2016-10-24 09:12] Qix- commented on #45
It does, but it requires significantly faster keypresses to do it (i.e. basically at the same time). Could just be some sort of race condition with neovim having a different plugins structure?

Pure vim 7.4 .vimrc:

[code]

And logs:

[code]

This may or may not be fixable on your end.

[2016-10-24 09:15] Qix- commented on #46
Yes - this happens exactly like it does with NeoVim.

Relevant .vimrc:

[code]

[2016-11-04 18:47] dkasak opened #52 "Parts of long Python lines get erroneously echoed"
## Issue description

Entering a long comment (I think it happens with others kinds of long lines too, but I couldn't reproduce it by entering a long integer literal, for instance) in a Python buffer makes a part of that line get echoed in Codi's window. The threshold length for this behaviour seems to be 74 chars.

![asciicast](https://asciinema.org/a/834kgtd0r5nzq2ljvc0d4tu3r.png)

Codi log snip

[2016-11-07 01:47] metakirby5 commented on #52
Seems like an nvim-only issue - I can reproduce it there, but not in vim. Can you confirm this?

[2016-11-25 01:48] #50 closed

[2016-11-30 05:08] jparoz opened #54 "When file is not modified, Codi updates on every cursor move"
## Issue description

When I'm using Codi while editing a Lua file in MacVim, if the file is not modified, Codi updates every time I move the cursor. This is in contrast to what happens when the file is modified, when Codi updates every time the text changes (when `TextChanged` or `TextChangedI` fires). As far as I can tell, this only happens with Lua files.

Steps to reproduce:
- `mvim foo.lua`
-

[2016-12-02 07:13] metakirby5 commented on #54
Can't seem to reproduce with same macOS, `script`, and mvim versions 😖 Does this occur with a minimal `.vimrc` as well, i.e. taking everything out except for a plugin manager + Codi?

[2016-12-03 03:43] jparoz commented on #54
With vimrc:
[code]
and contents of .vim:
- vimrc (no ~/.vimrc)
- pack/jlp/start/codi.vim (directly cloned)

I'm still getting the described behaviour. Are there any dependencies I'm not thinking of, or anything else I could have configured differently?

[2016-12-16 03:11] vatrat opened #55 "Typing "subprocess" in python locks out the user"
I'm using Neovim. When in python mode, I type:
[code]

Then, I stop being able to type as soon as I finish "subprocess." The cursor still blinks, so it's still running, but something is stopping me from typing, presumably a subprocess. Honestly, I find this bug quite funny. I laughed when it first happened.

[2016-12-16 05:26] metakirby5 commented on #55
That's pretty funny! I can't seem to reproduce this, unfortunately...

![](https://www.dropbox.com/s/yn07qq5d5hzw5jv/Screenshot%202016-12-15%2021.25.48.png?dl=1)

This only happens with subprocess?

[2016-12-16 06:01] vatrat commented on #55
Whoops, this is actually just deocomplete-jedi's suggestions taking a ridiculous amount of time to load on certain words such as subproces. This should be closed.

[2016-12-16 06:01] #55 closed

[2017-01-01 12:10] kdurant commented on #14
I waited a long time

[2017-01-02 10:56] metakirby5 commented on #14
@kdurant Sorry to keep you waiting :( I tried working on the platform-agnostic python-based solution on the [pypty branch](https://github.com/metakirby5/codi.vim/tree/pypty), I'm running into some problems [getting the output back into vim](https://github.com/metakirby5/codi.vim/compare/pypty#diff-989891772ea7990c8e545eed5d7303a5R109). Any help is appreciated.

[2017-02-04 06:29] heshiyou opened #58 "class definition throws `IndentationError` when blank lines added between methods"
## Issue description

![image](https://cloud.githubusercontent.com/assets/707533/22616310/fbefc7d4-eae5-11e6-88e7-5a631b79754e.png)

v.s.

![image](https://cloud.githubusercontent.com/assets/707533/22616316/0d373e8c-eae6-11e6-93a5-c47d01558f0e.png)

## Environment
- Operating system
- Version of `script` (if you don't know, just paste the last line of the
  man page)
- Entire output of `vim --vers

[2017-02-04 06:31] metakirby5 commented on #58
Unfortunately, this is a limitation of directly using a REPL backend for Codi. See [this part of the docs](https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt#L408) for more details.

[2017-02-04 06:31] #58 closed

[2017-02-04 06:33] heshiyou commented on #58
@metakirby5 how about just remove all the blank lines?

[2017-02-04 06:36] metakirby5 commented on #58
@heshiyou Then you would never be able to terminate a definition correctly. In the `python` repl, a newline is *required* to terminate a class or function definition.

[2017-02-04 06:38] heshiyou commented on #58
@metakirby5 I see, maybe it's gonna work to replace blank lines with `#` in Python.

[2017-02-04 06:40] metakirby5 commented on #58
@heshiyou No luck:

![](https://www.dropbox.com/s/aulq70p7fnzpo3y/Screenshot%202017-02-03%2022.39.29.png?dl=0&raw=1)

[2017-02-04 06:42] heshiyou commented on #58
![image](https://cloud.githubusercontent.com/assets/707533/22616438/1c795b62-eae8-11e6-9048-0970eb8b5176.png)

it seems we got a chance to just replace the blank lines between class definition and method definition.

[2017-02-04 06:47] metakirby5 commented on #58
Hmm... it seems kind of finicky and isn't consistent with the standard behavior of the repl, so I'm a bit apprehensive. However, if you want to hack at it and put together a pull request, I am more than welcome to reviewing it. A good starting point would be looking at how to [do a rephraser](https://github.com/metakirby5/codi.vim/blob/master/autoload/codi/load.vim#L76).

[2017-02-04 06:49] heshiyou commented on #58
@metakirby5 great, gonna try it.

[2017-02-06 17:42] cympfh opened #60 "cannot work on some (not BSD) Linux?"
## Issue description

On my some environments (Ubuntu, CentOS), the `script` command works wrong by the codi.vim's call.

## Environment

[code]

this is my commit to resolve the problem:
https://github.com/cympfh/codi.vim/commit/7cdf9ad36d71007c5d01932948faf521018b6714

[2017-02-07 01:17] metakirby5 commented on #60
Thanks for reporting this and finding a solution! Would you mind resubmitting this as a PR?

As a side note: `python2` doesn't seem to have a `-q` flag - is this necessary for the fix?

[2017-02-08 04:17] cympfh commented on #60
okay.

[2017-02-13 08:36] #60 closed

[2017-02-17 15:21] user37596 opened #62 "Codi does not output anything and logs: The file "/tmp/cmd" is not executable by this user"
Last time Codi worked for me was something like 5 days ago. Now it opens the window but does not output anything there.

My gvim version is 8.0.331 and Codi version is 25d4742 (latest as of writing). I suspect that updating Vim broke Codi as it just suddenly stopped working even without any other plugins and with clean .vimrc.

I tested Codi with the default Python interpreter and my own custom Dj

[2017-02-18 21:25] metakirby5 commented on #62
This is almost definitely caused by #61. Can you see if reverting 25d4742 fixes it on your end?

[2017-02-18 21:49] justinmk commented on #62
Well, shellescape shouldn't be used with writefile(). writefile() isn't using a shell...

[2017-02-18 21:54] justinmk commented on #62
Could be related to fish. Similar problem was reported here: https://github.com/justinmk/vim-dirvish/issues/73

@Decent1 If you change your shell to bash (including 'shellcmdflag' and all other shell-related options), does it help?

[2017-02-18 21:55] metakirby5 commented on #62
@justinmk, @cympfh had an issue where their version of `script` couldn't find the `python` command (`$PATH` issues maybe?).

[2017-02-18 22:02] metakirby5 commented on #62
Actually, `shellescape()` should still probably used since the arguments to the interpreter (`python`, etc.) still need to be "shell-escaped."

[2017-02-18 22:04] metakirby5 commented on #62
(Should add... a lot of these problems are caused by relying on the external `script` executable, which differs in implementation across platforms. Have been planning a rewrite using Python's pty capabilities which should eliminate platform differences, but school's got me busy.)

[2017-02-20 08:48] Decent1 commented on #62
Ok, so first I tried reverting the 25d4742 commit and that didn't help.

While leaving the commit reverted, I changed my default shell back to bash with `chsh -s /bin/bash` and relogged (`:echo $SHELL` outputted `/bin/bash`), but that didn't help either. Log said the same thing:

[code]

Then I tried `chmod 777 /tmp/cmd` and Codi started working again! For some reason it doesn't work anymore with

[2017-02-20 12:05] justinmk commented on #62
But internally there's no reason for codi.vim to use fish (or whatever the default 'shell' is). It can just call `/bin/bash` or `env bash` or whatever, with `jobstart(['env', 'bash', ...])`. (Doesn't require modifying user's 'shell'.)

[2017-03-01 11:11] rbowden91 opened #63 "codi from shell wrapper with filename not allowing input"
I'm on OS X, with a compiled-from-source vim 8. Basically my entire vimrc, minus Vundle stuff for codi, is commented out. When I try opening with a filename, I can't type anything. If the filename happens to be an existing file, I can type, but nothing shows up in the codi righthand side (this isn't shown in the screencast).

https://asciinema.org/a/0s5bg7nndgc5cn96s01dbrrwk

Script:
BSD

[2017-03-01 22:02] metakirby5 commented on #63
Would you mind pasting your shell wrapper code? It's possible that you're using an old revision of it which had a bug.

[2017-03-02 05:09] rbowden91 commented on #63
Yeah, I think I'm using the most recent version in the README. Thanks for your help!!

[code]

[2017-03-06 18:44] metakirby5 commented on #63
Unfortunately, I can't seem to reproduce this :( To narrow down what might be causing the problem, could you try reproducing this with the synchronous flag set?

[2017-03-06 18:45] metakirby5 commented on #62
Sorry I haven't commented on this issue in awhile. @Decent1, would you mind pinning down the exact commit in which things broke?

[2017-03-07 08:37] Decent1 commented on #62
@metakirby5 it seems to be commit 9a570ec. If I reset to one commit before it, Codi works again.

[2017-03-08 18:50] metakirby5 commented on #62
Ah ok, so it _was_ that commit. I got the chronological ordering of the commits wrong so I thought that reverting 25d4742 would also revert 9a570ec. Mind posting your `script` version info?

[2017-03-09 07:49] rbowden91 commented on #63
That didn't fix things for me. However, if I remove the "set buftype=nofile" from the shell command, then things seem to work perfectly fine. Is that supposed to prevent quit warnings on that right-side buffer??

[2017-03-09 07:50] rbowden91 commented on #63
Sorry, "bt=nofile"

[2017-03-09 08:15] Decent1 commented on #62
`script from util-linux 2.27.1`

[2017-03-29 09:38] gfixler commented on #31
I was able to run `:Codi`, but never saw anything on the right side, regardless of what I did. I tried python and haskell, the REPLs for which I have installed. I found this in the log (snipped from ~300 lines - it was the same pattern over and over):
[code]
Noting the permission denied on /tmp/cmd, I did `:chmod +x /tmp/cmd` from Vim, and then it worked. I'm not sure how to get that to work on it

[2017-03-29 14:24] justrajdeep commented on #31
Hi

`:chmod` is not a vim command. I tried to change the permission using a terminal. But I still dont see any output in the Codi split

[2017-03-29 19:11] gfixler commented on #31
@justrajdeep Sorry, that should have been `:!chmod`.

[2017-04-01 22:55] mdsn commented on #62
Same issue here. Content of `/tmp/cmd` is `'python'`, and from the log:

`[19:48:28.281643] <SNR>50_codi_handle_data[9]: [DATA] zsh:1: permission denied: /tmp/cmd`

After doing `chmod u+x /tmp/cmd` codi starts responding. Not sure why it needs the file to be executable though.

[2017-04-06 00:45] blayz3r commented on #14
Any luck!? plugin looks good

[2017-04-12 16:44] gbrlsnchs commented on #31
My solution was to create the function below:
[code]

And then I called it on VimEnter:
[code]

[2017-04-12 19:12] gbrlsnchs commented on #62
My solution was to create the function below:
[code]

And then I called it on VimEnter:
[code]

[2017-05-25 21:36] still-dreaming-1 opened #67 "PHP - Don't pass first line in buffer to PsySH if the line is <?php"
A PHP code file typically start with `<?php` as the first line. PsySH is not expecting this because php has already started. Therefore, the first bit of output from codi for that line is `PHP Parse error: Syntax error, unexepcted '<' on line 1`. Does codi have any existing features that could be used to alter the buffer content input before it gets sent to the REPL? I would like to simply not send

[2017-05-25 21:40] metakirby5 commented on #67
Thanks for reporting this! You should be able to achieve the desired fix with [`rephrase`](https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt#L521). Let me know if you have any further questions.

[2017-05-31 15:36] ashfinal opened #68 "codi.vim doesn't work well with ultisnips"
I've installed ultisnips plugin, and worked well without codi.vim.

But while using codi.vim, ultisnips' jumpforward and backward do not work totally.

I have these config in my .vimrc file:
[code]

I'm wondering if there is a way that the two plugins co-work well?

[2017-06-01 04:25] metakirby5 commented on #68
Codi generally does not play well with stateful plugins like Ultisnips because a lot of buffer switching is involved in updating the results pane. #3 may be related.

[2017-06-01 05:36] ashfinal commented on #68
But since ultisnips is such a generally installed plugin, I guess solving this problem will benefit lots of people. :)
As for conflict problem, `vim-multiple-cursors` seems have the same issue. But the workaround that they provide works well on me: [interactions-with-other-plugins](https://github.com/terryma/vim-multiple-cursors#interactions-with-other-plugins). Hope this may help solving this pro

[2017-06-08 03:23] kevintraver commented on #47
This seems to have something to do with `myusuf3/numbers.vim`

I can repeat this with a fresh install and only that plugin.

[2017-06-08 03:24] kevintraver commented on #31
This seems to have something to do with `myusuf3/numbers.vim`

I can repeat this with a fresh install and only that plugin.

[2017-06-08 13:08] justrajdeep commented on #31
Hi

I disabled `myusuf3/numbers.vim`, did `chmod +x /tmp/cmd` but still dont see anything on the `Codi` output.

[2017-07-12 10:14] sygi opened #70 "installation problems"
I am having problems installing codi (with pathogen). After installation, it doesn't seem to work (opens only the second split, but doesn't print there anything, despite using `:CodiUpdate`). I also don't see anything in `codi-introduction-gotchas`.
Do you have an idea what could have gone wrong?

## Issue description
- A minimal `.vimrc` that will reproduce the issue:
[code]
- Exact steps to repr

[2017-07-21 21:40] auxiliary commented on #31
I think I've done all the things in this thread, but I get the following in the log file:

[code]

and nothing happens after I run Code or CodiUpdate. The right bar shows up, but there's nothing in it.

[2017-07-21 21:43] auxiliary commented on #31
I think I've done everything in this thread and I get the following in my Codi log file:

[code]

And nothing shows up in the right hand side Codi bar.
script version: 2.17.2
Vim version: 7.4
OS: Redhat Linux
Python version: 2.7

[2017-07-21 21:53] auxiliary commented on #31
Is there any particular condition in which codi might not save an error for in the log?

[2017-07-21 21:58] auxiliary commented on #31
I'm not sure if it matters, but this was amongst my strace of vim with codi:

[code]

[2017-08-06 05:51] #67 closed

[2017-08-13 14:43] xahon opened #72 "Output doesn't wrap"
![image](https://user-images.githubusercontent.com/18731681/29250644-735718de-8089-11e7-997e-10b4c3fcad4a.png)

`set wrap` on output window not working

[2017-08-13 14:45] xahon opened #73 "JavaScript object doesn't output"
![image](https://user-images.githubusercontent.com/18731681/29250654-b2481b10-8089-11e7-8c59-01dca8f2f1ad.png)

Also it's not working with `JSON.stringify(object)`
Codi works well, see my previous issue #72.

[2017-08-22 06:47] mpeterson commented on #62
Had the same problem, this solution fixed it but should probably be included into the plugin.

[2017-09-10 18:45] rijkvanzanten commented on #73
The code you demo in the screenshot isn't valid which is probably why it doesn't show.

You can try this for yourself by trying to run the code in a browser console

[code]

[2017-09-11 11:35] xahon commented on #73
@rijkvanzanten yes, i understood that. Key is needed

[2017-09-11 11:35] #73 closed

[2017-09-18 01:28] Vvkmnn commented on #47
I also think this would be sweet too. Maybe if it just dumps the `codi.log` to the buffer?

I'm new to Vim, so I doubt my Vim Script would be up to par. Codi's part of my daily workflow though; thanks for the plugin.

[2017-09-23 18:45] meeuw commented on #70
I've just discovered that `/tmp/cmd` isn't created with execute permissions, using `chmod 700 /tmp/cmd` did the trick for me.

[2017-10-01 17:50] metakirby5 commented on #70
@meeuw, thanks for looking into this. I've added a `setfperm` call at 93cfc91. @sygi, please check out the `cmd-perm` branch and see if it fixes the issue. I can't test Linux at the moment, but I would like to confirm that it works before merging it.

[2017-10-01 17:54] metakirby5 commented on #70
Also, since this seems to be a duplicate of #62, let's redirect discussion there.

[2017-10-01 17:54] #70 closed

[2017-10-01 17:54] metakirby5 commented on #62
Sorry for the delay. I've added a `setfperm` call at 93cfc91. Please check out the `cmd-perm` branch and see if it fixes the issue. I can't test Linux at the moment, but I would like to confirm that it works before merging it.

[2017-10-01 17:58] metakirby5 commented on #72
This is currently expected behavior with multi-line output. See #27 for details, and please leave any further comments there.

[2017-10-01 17:58] #72 closed

[2017-10-02 06:57] Decent1 commented on #62
Tried with `cmd-perm` branch and I don't get the permission error now. But I still don't get any output, at least with Fish shell. The log just says:

[code]

But, if I checkout to commit e2aa007, Codi starts working again.

[2017-10-02 20:56] metakirby5 commented on #62
@Decent1 Sorry, I had forgotten about the fish issue. What happens if you run `/tmp/cmd` directly from your shell?

[2017-10-03 07:01] Decent1 commented on #62
[code]

I'm noob with linux, so I don't know if this helps, but fish says this when the beginning of the file is missing shebang and it won't know what to do with the contents.

[2017-10-03 12:53] sygi commented on #70
Thanks for looking into that. I tried cmd-perm branch and it changed something, but didn't fully help.

I now see the correct output in log (see later), but still the other buffer doesn't get updated. I don't think it is a duplicate of  #62, as there even the interpreter didn't start and wasn't calculating the expressions.
[code]

[2017-10-19 17:10] lxuanchengdt opened #75 "How to work for ajax response?"
I'm using it for Node's code, is working well.

But it's possible to work for fetch's response? like `setTimeout`, `ajax`, `Promise`, etc?

[2017-10-19 18:35] #75 closed

[2017-11-06 11:50] henrebotha commented on #31
I'm having the same problem: scratch pad opens but no output is shown. MVim 8.0.

<details>
<summary>Click to view my Codi log output...</summary>
<pre>
[13:44:18.914772] <SNR>83_lo: Darwin/BSD detected, using `script -q /dev/null $bin`
[13:44:18.917359] <SNR>83_err[1]: ERROR: Cannot run Codi with empty filetype.
[13:44:22.479622] <SNR>83_user_au[1]: Doing autocommand CodiEnterPre
[13:44:22.734245

[2017-11-16 09:00] tuyenpm9 opened #76 "Missing command: script"
If you only have a quick question, consider posting it on the Gitter.

Otherwise, please include the following:

## Issue description
- Brief description
- Expected results
- Actual results
- A minimal `.vimrc` that will reproduce the issue
- Exact steps to reproduce the issue, starting with the command used to open
  `vim`
- Any relevant screenshots
- If it's not too much trouble, a screencast (e

[2017-11-17 15:02] tuyenpm9 commented on #76
https://github.com/metakirby5/codi.vim/blob/d1efc57b67e745d02dc389d9234280d8a7454193/autoload/codi.vim#L153

[2017-11-17 15:02] #76 closed

[2017-11-24 03:43] ghost opened #77 "[Feature request] Support windows"
If you only have a quick question, consider posting it on the Gitter.

Otherwise, please include the following:

## Issue description
- Brief description
- Expected results
- Actual results
- A minimal `.vimrc` that will reproduce the issue
- Exact steps to reproduce the issue, starting with the command used to open
  `vim`
- Any relevant screenshots
- If it's not too much trouble, a screencast (e

[2017-11-29 02:47] vallero commented on #31
I had the same problem.
I solved it by removing the remapping of ```Ctrl-j``` from my ```.inputrc```.
In fact, Codi sends directly keystrokes to the interpreter, and ```Ctrl-j``` is the code for the newline (as written in the gotchas section of the codi help file)

[2017-11-29 09:17] henrebotha commented on #31
I went out of my way to unbind <kbd>Ctrl</kbd><kbd>J</kbd>, but it made no difference. So there's clearly some other underlying problem here.

[2017-11-29 13:21] vallero commented on #31
Can you post your log?

Also: do you use fish as your default shell? It can create problems while
executing /tmp/cmd.

Il 29 nov 2017 10:17 AM, "Henre Botha" <notifications@github.com> ha
scritto:

[2017-11-29 13:38] vallero commented on #31
Do you use fish as your default shell? That could create problems while executing /tmp/cmd

[2017-11-29 13:40] henrebotha commented on #31
Not sure if you're addressing me or someone else, but I use Zsh.

[2017-12-04 06:34] horsemanV commented on #31
I'm having the same issue with python and javascript files (see attached [codi.log](https://github.com/metakirby5/codi.vim/files/1525884/codi.log))

The first run is from running `codi javascript scratch` and the second `vim codi.js :Codi`, both successfully open the Codi buffer but neither produce output.

### Relevant Info:
* `vim --version` : VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Nov 27

[2018-01-03 08:09] systemmonkey42 commented on #41
After doing exactly this, and hanging codi with the background node task taking 98% cpu, I found that
VIM became very slow;

I turned on function profiling and found the following;

FUNCTIONS SORTED ON SELF TIME
count  total (s)   self (s)  function
329865   7.637924   3.298504  codi#__vim_callback()
329865              3.204093  <SNR>276_ch_get_id()
329865              1.135327  <SNR>276_codi_han

[2018-03-23 08:30] caifara commented on #31
Had the same problem. In my case there was output, but it was off screen. :NumbersToggle to disable the numbers plugin did the trick.

[2018-03-28 12:37] NewUserHa commented on #14
will it come out soon?
this plugin looks sexual! is it possible to support gvim as well?
thanks!!

[2018-04-16 12:06] anoopd opened #80 "No Codi interpreter for python"
When i try to do Codi {python} i am getting the error

Error detected while processing function codi#run:
line   21:
E474: Invalid argument: filetype={python}
No Codi interpreter for {python}.
Press ENTER or type command to continue

Can somebody help me  ...... i have all the dependencies installed

[2018-04-16 15:57] metakirby5 commented on #80
In vim doc format, braces indicate an argument. So, you should actually run `Codi python`.

[2018-04-16 15:57] #80 closed

[2018-04-17 15:28] anoopd opened #81 "How to make it working with python3"
I have both python2 and python3 installed in my OS X . python 2 is called with `python` keyword and python3 with `python3` keyword . Codi does not recognize python3 packages (like pymysql ) . it is showing  `Importerror` , but the script works fine  . Is there a way to make it work with python3.

[2018-04-17 15:45] metakirby5 commented on #81
Please refer to the [documentation for defining custom interpreters](https://github.com/metakirby5/codi.vim/blob/0c5653fc36fb328c1ca3c3a62ed98ec15cb6d4c1/doc/codi.txt#L182).

Going forward, if you only have a quick question, please post it on the [Gitter](https://gitter.im/codi-vim/Lobby). I'd like for issues to be reserved for bugs and feature requests.

[2018-04-17 15:45] #81 closed

[2018-04-18 03:25] andythedandyone opened #82 "Errors on start up with javascript"
Kubuntu 16.04
Vim 7.4

when starting `Codi javascript` it returns the errors below:
![image](https://user-images.githubusercontent.com/20182536/38910174-1e14dce2-4296-11e8-8ab3-99b1ccd8903e.png)

then after pressing enter, it opens the right pane, with a result at the top but when adding more functions, it shows nothing:
![image](https://user-images.githubusercontent.com/20182536/38910215-4f82cd20

[2018-04-18 14:33] metakirby5 commented on #82
Try updating - does it work now?

[2018-04-18 15:16] andythedandyone commented on #82
Yep, I updated to 8.0 few minutes after and it worked.
So, I take that v7 is not compatible, it had channel and jobs, but I think the async is not avail in v7's.

[2018-04-18 15:16] #82 closed

[2018-04-18 16:30] andythedandyone commented on #82
That would explain vim v7.xx complained when I tried to `set signcolumn=yes`

[2018-04-25 12:15] skarone opened #83 "How to get an updated version of the script command for linux??"
Hi I checked and at my work, the script command is older than we need...
Someone knows how to get a newer version of the script command?

Cheers

[2018-04-25 13:35] skarone commented on #83
Nevermind I found it :grinning:
https://mirrors.edge.kernel.org/pub/linux/utils/util-linux/v2.32/

[2018-04-25 13:35] #83 closed

[2018-05-08 01:50] lukelbd opened #85 "Codi creating hundreds of .python_history-12345.tmp files"
When I use Codi in a `.py` file, several hidden files are created in my home directory every time a new output in the left-panel is generated; usually 3 or so. They all look like this

    .python_history-12345.tmp

but replace the 12345 by any 5 numbers. They can add up to hundreds of files over time.

What is going on/how can I prevent this, or at least how can I have Codi delete them automatica

[2018-05-08 03:10] metakirby5 commented on #85
We can probably [disable the history feature](https://unix.stackexchange.com/questions/121377/how-can-i-disable-the-new-history-feature-in-python-3-4) in a [preprocess](https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt#L493). I currently don't have time to work on this, but am happy to merge in a fix for it.

[2018-05-08 04:36] lukelbd commented on #85
As a work around, is there any way I can revert to an older version of python without the history feature (e.g. use `python2` for the `python` interpreter)?

[2018-05-08 07:02] metakirby5 commented on #85
Yes; please see the [example interpeter configuration](https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt#L456).

[2018-05-10 19:32] upgradeQ opened #86 "Neovim , windows with script.exe (Cygwin) bug ."
## Issue description
- Neovim evaluates only one line like in this [issue](https://github.com/metakirby5/codi.vim/issues/46#issue-181083461)
- Expected results - fully functional codi.vim instance
- Actual results - Codi evaluates only one line .
- Exact steps to reproduce the issue, starting with the command used to open:
    `nevim-qt ` -> ` :e codi_screen_cast.py `  -> `:Codi  `
- Any relevant

[2018-05-11 07:10] hackingcat opened #87 "Can it surpport HerringtonDarkholme/typescript-repl ?"
If you only have a quick question, consider posting it on the Gitter.

Otherwise, please include the following:

## Issue description
- Brief description
- Expected results
- Actual results
- A minimal `.vimrc` that will reproduce the issue
- Exact steps to reproduce the issue, starting with the command used to open
  `vim`
- Any relevant screenshots
- If it's not too much trouble, a screencast (e

[2018-05-11 07:45] metakirby5 commented on #87
Probably. Please see [the interpreters section of the docs](https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt#L332) for details. Check out a [the PR for Lua support](https://github.com/metakirby5/codi.vim/pull/40/files) for an example.

[2018-05-11 12:53] pittcat commented on #87
Solved,thank you.

[2018-05-12 02:46] metakirby5 commented on #87
Excellent! If you have time, please feel free to make a pull request so others can benefit from your work 😄

[2018-05-12 02:46] #87 closed

[2018-05-12 06:19] lukelbd opened #88 "Codi fails to print output for files with >1000 characters"
I am having these extremely strange/confusing issue where Codi will be working just fine on a python script, then suddenly I add certain lines and Codi will output nothing (often this happens when I'm just adding a comment line somewhere in the middle of the document). When Codi is outputting nothing, if I turn on synchronous-mode (i.e. let g:codi#sync=1), VIM will freeze if I call `:CodiUpdate`.

[2018-05-13 00:32] metakirby5 commented on #88
Can you give some example input which consistently reproduces the issue?

[2018-06-30 22:06] dylan-chong opened #89 "Can't print string with '\n' in python"
If you only have a quick question, consider posting it on the Gitter.

Otherwise, please include the following:

## Issue description
- Brief description - Trying to string with multiple lines
- Expected results - when i try to print the string with the `\n`s in it, all of the lines should be shown
- Actual results - when i try to print the string with the `\n`s in it, only the last line is shown

[2018-06-30 22:15] dylan-chong commented on #89
What I'm essentially trying to do in the above example is generate a list of test cases to pass into my function. I'm not sure if this is a valid use case of this plug-in, but would be useful nonetheless.

Another possible use case is you want to generate an output with multiple lines, for example pretty printed Json. If you could only see the last line of the Json, it would be not very useful

--

[2018-07-01 05:56] dylan-chong commented on #89
I intentionally turned off no wrap because I wanted to see the rest of the output

[2018-07-01 05:57] metakirby5 commented on #89
I see. Everything is working as intended, then; I think you'll have to pursue another way to achieve your desired result, because Codi isn't built for this use case.

[2018-07-01 05:57] #89 closed

[2018-07-01 06:57] dylan-chong commented on #89
Just a thought, what about showing all lines of output for the last line?

[2018-07-01 07:52] dylan-chong opened #90 "Can't assign custom auto commands"
I want to assign custom auto commands: TextChanged,InsertLeave without the insert versions of them.

Why?

- Insert leave is not good enough by itself, because when you edit code without going into insert mode, codi does not get updated
- the plug-in lessspace is stripping the whitespace as I type it seemingly because Codi is running (does not happen when autocmd is set to InsertLeave)
- one may f

[2018-07-03 16:14] thirtythreeforty commented on #90
I am the author of LessSpace from the linked issue.  My plugin strips whitespace when leaving insert mode, or after normal mode edits.  I am having trouble integrating with Codi's behavior of quickly leaving insert mode during Codi updates.  The `CodiUpdatePre` and `CodiUpdatePost` hooks normally would allow me to disable the plugin for the duration of the Codi update, but based on a cursory readi

[2018-07-12 13:44] vn-ki commented on #27
Can we expect this soon? This is the only thing that makes me use ipython instead of codi.

[2018-07-26 16:58] brilliantly-insane opened #91 "Codi crashes on first try, will run afterward. (Error re. b:codi_target_bufnr)"
## Issue Description
- The first time trying to run Codi, vim will return a brief error (`E121: Undefined variable 'b:codi_target_bufnr'`) before flashing to a new empty buffer and scratchpad. This new buffer has no filetype and cannot be used instead.
- Expected result: Codi starts up as usual.
- Actual result: A new empty buffer opens after flashing a brief warning

.vimrc: Only needed to instal

[2018-07-26 19:35] #91 closed

[2018-07-26 19:36] brilliantly-insane commented on #91
Ignore this; one of the plugins I installed seemed to be causing an issue. No idea why, but I just uninstalled all of them and tried again.

[2018-07-26 23:40] brilliantly-insane opened #92 "[Feature Request] Java and Scala support"
With Java being one of the most ubiquitous languages in use, and Scala one of its best alternatives, support for these languages would be an extremely useful feature. Both languages have built-in REPL tools (`jshell` with Java 8+, and the `scala` command for Scala).

I'll take a look into the Vimscript and submit a pull request if I can get either language working.

[2018-07-27 04:16] metakirby5 commented on #92
Thanks for offering to take a look :) [This section in the docs](https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt#L456) should be helpful to look at. Let me know if you have any questions!

[2018-07-27 15:54] brilliantly-insane commented on #92
I've put together the interpreters how I'd _expect_ them to work, but based on g:codi#log it seems the REPLs for both Scala and Java are running too slowly to show a prompt, let alone return any values.

[Here's an example of results I'm getting from the log.](https://github.com/metakirby5/codi.vim/files/2236380/codi-log.txt). Maybe you'll be able to parse through it and figure out what I'm doing

[2018-07-30 00:41] metakirby5 commented on #92
Not sure what's wrong with `jshell` - it seems that the executable is just not giving us the rest of the output we want. For `scala` however, you just have the wrong prompt; replace it with `^scala> `. The output is not formatted correctly for consumption, so some work will have to be done there.

[2018-07-31 03:51] brilliantly-insane commented on #92
Oh...right. :sweat_smile:

[2018-08-18 19:59] midnio opened #93 "[Feature Request] Elm Support"
There is `elm repl` to use elm's repl. I think that will be fine if you add Elm support :smiley:

[2018-08-19 04:06] blayz3r commented on #14
Can windows be supported via WSL/Bash

[2018-08-19 05:46] metakirby5 commented on #14
@blayz3r Possibly - try it and see!

[2018-08-19 05:59] metakirby5 commented on #93
Done in fad76cc, enjoy!

<img width="1042" alt="screen shot 2018-08-18 at 22 53 07" src="https://user-images.githubusercontent.com/3402603/44305995-5a1bc480-a33a-11e8-9c7b-4049d5c0d89e.png">

[2018-08-19 05:59] #93 closed

[2018-08-19 06:01] midnio commented on #93
Thanks!

[2018-08-19 11:57] blayz3r commented on #14
So it works in the linux subsytem. I was suggesting calling linux commands using WSL e.g.
![image](https://user-images.githubusercontent.com/12205650/44308513-4e092480-a385-11e8-8700-053d04d77536.png).

Can this be a viable workaround for Gvim, at least with windows 10

[2018-08-21 21:30] SidOfc opened #94 "[Feature Request] Open Codi fullscreen in a 50/50 vertical split with an empty buffer"
Hi there!

I came here to request a feature for this (awesome) plugin.

Out of the box Codi will always open with a fixed width next to the current buffer. In most of my use-cases I am debugging a large-ish file and I only want to focus on a small part of it, perhaps run some sample code to grasp exactly how it works or experiment with some new code or quickly demonstrate some feature etc...

What

[2018-08-21 21:44] SidOfc commented on #94
It could be behind a setting that is disabled by default, e.g:

[code]

This will actually free up `g:codi#width` for manipulation so my old note becomes irrelevant.

[2018-08-22 06:17] metakirby5 commented on #94
Hi @SidOfc, thanks for the feature request and the work you've done thus far on it! I think the notion of a fullscreen scratch is really workflow dependent, so I'm a bit hesitant to include it in the plugin. The code to configure it, as you have shown, is about a dozen lines long, so people can include it in their vimrc (like you have) on a want-to-use basis.

However, I do like the idea of percen

[2018-08-22 09:38] SidOfc commented on #94
Hi @metakirby5, I completely understand that this feature is heavily workflow inspired and therefore may not be the right fit for the plugin. It could be a _tip or trick_ in either a wiki or readme as well, I will look into adding this snippet somewhere other than this issue so that anyone can use this code.

I would also love to see percentage support for `g:codi#width`.

It would even reduce the

[2018-08-22 18:57] SidOfc commented on #94
P.P.S.

This issue can be closed if you want, whenever I have a PR for `%` width ready I'll send it in referencing this issue anyway :)

[2018-08-22 19:45] #94 closed

[2018-09-18 16:47] midnio opened #97 "Racketlang support"
Maybe? :P
The interpreter can be used with typing racket to terminal (no args)

[2018-09-18 21:28] metakirby5 commented on #97
Sure! I don't have time to integrate it myself at the moment, but you're more than welcome to open a pull request. See https://github.com/metakirby5/codi.vim/pull/96 for an example.

[2018-09-19 11:52] midnio commented on #97
#98

[2018-09-19 11:52] #97 closed

[2018-09-21 18:05] qiufeihai opened #99 "bash support?"
bash support?

[2018-09-21 18:37] metakirby5 commented on #99
There is no intention to add built-in support for bash for the following reasons:

- Many users like to customize their prompt, and prompts even vary across linux distributions. Codi is reliant on regex matching the prompt to detect the next line of output, so the implementation will likely only work on a small subset of machines at any given time.
- Codi constantly evaluates your input. A command

[2018-09-21 18:37] #99 closed

[2018-12-05 17:03] zouhx11 opened #100 "Not working for julia 1.0"
## Issue description
- codi can't work well with julia 1.0

## Environment
- Operating system: OSX

[2018-12-08 12:16] cstsunfu opened #101 "This plugin work at nvim not as good as vim"
When I use this plugin at vim to code python, it works as expected.
![screen shot 2018-12-08 at 8 03 29 pm](https://user-images.githubusercontent.com/24812659/49685794-06212f80-fb25-11e8-958b-01588e12f29a.png)
But when I use it at neovim, the output display is not good.
![screen shot 2018-12-08 at 8 04 02 pm](https://user-images.githubusercontent.com/24812659/49685801-294bdf00-fb25-11e8-9348-e0888

[2018-12-08 12:30] natonboy commented on #101
hah you beat me to it.
was having this problem as well.

[2018-12-09 11:49] natonboy commented on #101
Hah! found a better one.
.config/nvim/plugged/codi.vim/plugin/codi.vim

`  let g:codi#rightalign = 1` set this to 0

[2019-01-30 14:54] hristost commented on #31
You can try running (n)vim with an empty `.inputrc` to make sure your configuration is not interfering with Codi:
[code]
(`INPUTRC` is an environment variable used by [readline](http://man7.org/linux/man-pages/man3/readline.3.html))

[2019-01-30 15:08] hristost opened #102 "[Proposal] Pass environment variables to default interpreters"
As we already know, codi.vim does not always work out of the box due to `.inputrc` configurations that take control over `c-j`. For example:
[code]
This stops interpreters that rely on `readline` (think python) from working. It would be nice if we can use a custom `.inputrc` whenever running codi, so users don't have to modify their existing configurations. This can be easily achieved by setting t

[2019-01-30 15:12] hristost commented on #102
Furthermore, I'd advocate for defaulting to an empty `.inputrc`, but I haven't done research on what side-effects this could have.

[2019-01-31 05:57] superhans opened #103 "Does codi support coding inside a function"
I have similar issues on Vim 8.1 (tested on MacOS Mojave and Ubuntu 16.04) as  #31
Essentially, If I type
`x=3`
I get nothing on the codi pane.
But if I type just :
`x` on the next line, I get the output (I actually don't mind this behavior). This way, it only prints when I want it to.
![codi1](https://user-images.githubusercontent.com/5943164/52033138-e2a9ae00-24f1-11e9-9601-7ee93f1a4cd0.png)

Bu

[2019-02-02 07:39] metakirby5 commented on #103
The value does not show because your `main()` does not return any value, so the line in which it is called does not actually evaluate to a displayable expression. You can get the desired behavior by returning the value you want to display. Otherwise, such behavior will only work if the language supports implicit returns, like Ruby or CoffeeScript.

![screen shot 2019-02-01 at 23 35 55](https://use

[2019-02-02 07:39] #103 closed

[2019-02-12 22:10] ginkobab opened #104 "Codi with python comments"
First of all, thank you for bringing to us this beautiful piece of code, and this is my first bug report on Git, so sorry if I don't behave correctly, please advise me correctly.

I've installed Codi.vim on neovim, and I discovered that if there is a comment after a line of code, and this comment reaches the 65th column, Codi won't work.
This is an example
`print(5) #this is gonna work`
`print(5)

[2019-02-13 03:05] metakirby5 commented on #104
Thanks for the report!

I can't reproduce this on Vim, but I do have a question about your case.
Does the issue persist if the line is too long, without comments?

For example:

[code]

If the issue persists, then we will have to find a different fix.

[2019-02-13 07:27] ginkobab commented on #104
No, it doesn't persist this way!
Anyway I couldn't have a big notebook working, but I don't get if it's for an issue or just for the dimension.
I tried commenting every line off the code but the first ones and it still didn't work.
Do you have any suggestion?

P.S. The code is in Python, I tried to wait like an hour but nothing happened

[2019-02-14 08:32] metakirby5 commented on #104
Hmm... I'm not really sure. I currently can't dedicate the time to look into this issue, but I will most certainly welcome any pull requests if you find a solution!

[2019-02-25 11:34] grepsuzette opened #105 "You know what would be cool? vim interpretor support"
Not a bug.

Codi is so cool.
And on the other hand, using vim command line or wincmd (q;)  is not that practical.

I was wondering if there was a way to have a vim interpreter loop similar to all those interpreters with which Codi works but for vim script. Then we could have vim support for Codi and it would be really fun.

Unfortunately I don't know if that would possible, but I thought that disc

[2019-02-26 04:50] metakirby5 commented on #105
Thanks for the kind compliment!

It seems doable as long as Vim exposes a way to run as an interpreter - perhaps [here](https://vim.fandom.com/wiki/Vim_as_a_system_interpreter_for_vimscript) is a good place to start.

[2019-03-06 20:18] ttm436 commented on #31
I have this issue and have narrowed it down to
`set show-mode-in-prompt on`
in `.inputrc` when using bash in vim mode (`set editing-mode vi`)

When the prompt is on, Codi will not output anything in the right-side buffer, when it is off, Codi works as expected.

[2019-03-08 02:36] epeery opened #106 "Neovim alignment error"
## Neovim alignment error
- **Brief description:** Output becomes misaligned when file gets too long
- **Expected results:** Maintain alignment in Neovim
- **Actual results:** Once the file becomes long enough to justify scrolling, output is printed ~10 lines lower than actual code

Issue still occurs with a totally blank vimrc

## Steps to reproduce
* `$ vim index.js`
* Press Enter a bunch or jus

[2019-03-13 04:01] gunar opened #107 "Not working for Clojure"
## Issue description
- Brief description: Doesn't work with line-breaks.
- Expected results: To work with line-breaks the way it does with .js
- Actual results: nothing
- A minimal `.vimrc` that will reproduce the issue: Everything default
- Exact steps to reproduce the issue, starting with the command used to open
  `vim`: `nvim`, `:Codi!!`
- Any relevant screenshots https://www.useloom.com/share

[2019-03-27 08:57] qiufeihai commented on #99
let g:codi#interpreters = {
 \ 'bash': {
          \ 'bin': ['bash'],
          \ 'prompt': '^\(>\|\.\.\.\+\) ',
          \ }

and

let g:codi#raw=1

but  not working , input is empty

[2019-05-02 03:49] dylan-chong commented on #31
@ttm436 Thank you! I had this code on my ~/.inputrc file which i removed and fix the problem!

[code]

[2019-05-17 03:01] ssh352 commented on #27
it would be nice to display multi line output, I'll find another way to use vim and ipython together. @vn-ki can you suggest? Thanks!

[2019-06-21 05:52] #62 closed

[2019-07-03 16:34] #106 closed

[2019-07-10 09:36] slavaGanzin opened #113 "Screencast link is broken"
Hello

Screencast link in readme is broken:
[code]

[code]

Maybe host it on [asciinema](https://asciinema.org/)?

[2019-07-12 08:49] metakirby5 commented on #113
I have unfortunately forgotten what the contents of the screencast even was 😅 I do have an issue open to [record a new screencast](https://github.com/metakirby5/codi.vim/issues/12), but I just haven't had the chance to.

[2019-07-12 10:13] #113 closed

[2019-07-14 18:01] Iambecomeroot opened #114 "Python IndentationError when class method has decorator"
Copying the sample code from the fix in e2aa007 and adding a decorator to the class method results in an `IndentationError`. My code is now as follows:

[code]

And I get the following errors:
![image](https://user-images.githubusercontent.com/8503756/61187312-71e0f300-a646-11e9-82a9-331b5d9ac280.png)

Here is a minimal vimrc that will reproduce the issue:
[code]

## Environment
- Arch Linux (Linu

[2019-07-15 00:06] metakirby5 commented on #114
@heshiyou Any thoughts?

[2019-09-03 19:46] gunar commented on #107
Hah, look. I've found my own issue again.

[2019-09-03 19:46] gunar commented on #107
Hey @cirqueit - would you be willing to take a look? Thanks in advance!

[2019-09-05 00:27] timonson opened #115 "Codi does not update"
## Issue description

All Codi commands are 'reacting' but it doesn't update. In other words, there is no 'output'. It seems to be similar to these issues:
- https://github.com/metakirby5/codi.vim/issues/70
- https://github.com/metakirby5/codi.vim/issues/62

I tested it with python and javascript and tried a lot of different ways/commands to make codi update.

The /tmp/cmd file is created and exec

[2019-10-14 06:31] lukelbd commented on #85
+1 year later I figured out a crude way to fix this -- just take advantage of the `'quitcmd'` interpreter option as follows

[code]

This clears the history file every time codi closes an interactive prompt. This also means that if you tend to use interactive `python` prompts in another terminal, the history from those inputs will be deleted every time you use `codi`.

[2019-10-14 07:27] lukelbd commented on #90
@taylorskalyo

The problem with your solution is that `codi#update` will get called on *every* file and even when codi is not even active on that file. I suppose when `codi#update` is called while codi is inactive, it just exits, but this seems clunky to me.

The below works only when codi is active, using the `CodiEnterPre` and `CodiLeavePost` autocommands (see `:help codi`). Just add these lines

[2019-10-15 22:57] lukelbd commented on #85
Think I'll close this. Despite the drawbacks of the above solution, it's probably the best option. Not sure it is even [possible](https://unix.stackexchange.com/questions/121377/how-can-i-disable-the-new-history-feature-in-python-3-4) to suppress history for a particular interactive `python` session.

[2019-10-15 22:57] #85 closed

[2019-11-05 11:43] Konfekt commented on #31
This, other than `set show-mode-in-prompt on`, is another setting of `~/.inputrc` which causes this issue:
[code]

[2019-11-09 02:35] sbromberger opened #119 "Codi errors on ubuntu 19.04/raspberry pi"
If you only have a quick question, consider posting it on the Gitter.

Otherwise, please include the following:

## Issue description
When typing `Codi python3` in a new vim session, the following errors are displayed:

[code]

- A minimal `.vimrc` that will reproduce the issue
[code]
- Exact steps to reproduce the issue, starting with the command used to open
  `vim foo.py`, then `:Codi python3`

[2019-11-09 17:58] PanagiotisS commented on #119
Hi,

If I am not mistaken, the following (latest at the moment) commit https://github.com/metakirby5/codi.vim/commit/5466b11652d87efb7a6b130a9cd6a54dd5c6e8dd is the culprit. Using the previous commit (https://github.com/metakirby5/codi.vim/commit/0f5b8a9f31cd48cd46915eb48e323ba820e67a5a) works without issues.

In this line https://github.com/metakirby5/codi.vim/commit/5466b11652d87efb7a6b130a9cd6a

[2019-11-10 03:27] metakirby5 commented on #119
Hopefully fixed by #117 - let me know if you experience any issues!

[2019-11-10 03:27] #119 closed

[2019-11-10 09:41] Konfekt commented on #102
This proposal can probably be closed as the above commits implement it.

[2019-11-10 16:54] sbromberger commented on #119
I can confirm the latest master fixes the issue. Thank you very much for this really useful script!

[2019-11-10 18:26] hristost commented on #102
Works for me! Thanks for implementing this

[2019-11-10 18:26] #102 closed

[2019-11-15 22:24] sbromberger opened #120 "Codi broken for Julia 1.2"
## Issue description
- Codi produces no output for Julia 1.2. Works for python / python3.
- `a = 5; b = 7; a + b` (semicolons denote newlines) should produce output.
- no  output.
- any .vi
- Exact steps to reproduce the issue, starting with the command used to open
  `vim`
[code]

Logs attached.
## Environment
- ubuntu 19.10
- Version of `script`: `script from util-linux 2.34`
- The following **i

[2019-11-16 13:16] d86leader commented on #52
Alright, it's been 3 years, and I can confirm this is nvim-only bug. This is the line that always reproduces the bug for me:
`from z3 import BitVec, Solver, unsat, RotateRight, Extract, Concat, BitVecVal`

This is my python version:
`Python 3.6.9`

This is my vim version:
[code]

This is my nvim version:
`NVIM v0.3.7`

To add to that, neovim has a lot of issues with long lines. Sometimes I get a S

[2020-02-24 03:20] medeirosjoaquim commented on #115
Tried with vim 8.1 (with +job and channel) on  Debian. Happens the same thing, no output but only for javascript. Python works fine.

[2020-02-26 21:46] timonson commented on #115
@medeirosjoaquim I am using an older Codi version, I believe I picked a random one from 2018 and it works there. But it is obviously not optimal and I was not able to figure out which later commit has caused this bug.

[2020-03-27 14:26] zfoell commented on #77
Looks like a great plugin! Still no support for Windows?

[2020-05-10 21:32] dusanx opened #122 "Vim 8.2 problem?"
## Issue description

When I start codi, either using codi() shell function or directly while editing, it doesn't work, instead Vim shows a lot of errors:

[code]

Then each next keypress results in:
[code]

Of course after all this errors (that make impossible to type), there are no results on the right.

## Environment
- Operating system: Arch linux
- Version of `script`: ???
- The following **i

[2020-05-14 17:20] ChristianChiarulli opened #123 "Missalignment on save [python]"
When I first open Codi everything is fine and synced. But after I save the output buffer on the right shifts down and becomes misaligned with the code on the left.

[2020-05-14 17:24] ChristianChiarulli commented on #123
Before:
![2020-05-14_13-21](https://user-images.githubusercontent.com/29136904/81965548-360c1680-95e6-11ea-866a-3c4ab0ea0feb.png)

After:
![2020-05-14_13-21_1](https://user-images.githubusercontent.com/29136904/81965555-386e7080-95e6-11ea-90c7-4acaa2b52162.png)

[2020-05-15 06:58] mirsella commented on #122
i got the same things than you at start, but i have only the start :
[code]

[2020-05-15 13:38] schuerik commented on #122
Getting the exact same error message like @dusanx on Arch with vim 8.2.0717-2

[2020-05-17 03:29] BrunoGomesCoelho commented on #122
Similar error here, Linux Mint with vim:

 VIM - Vi IMproved 8.2 (2019 Dec 12, compiled May 12 2020 02:37:13)
Included patches: 1-716

Seems like some recent update broke it

[2020-05-17 10:31] pvonmoradi opened #124 "How to feed to STDIN of the codi interpreter?"
Is there a way to pass some data to STDIN of the interpreter that codi is running?
For example suppose the python code is like `x, y = [int(x) for x in input().split(' ')]`. The `input()` function fetches the stdin buffer.
How can I make it so that "5 10" is automatically passed into the stdin of the python interpretor instance?
I can do it in bash like this way: `python mycode.py <<< $'5 10'`
Tha

[2020-05-17 10:38] metakirby5 commented on #124
What's your objective in using Codi to achieve this? Sure, you could change the [configuration for your interpreter](https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt#L346), but I'm not sure how it helps any more than doing `python mycode.py <<< $'5 10'` as you mentioned.

[2020-05-17 10:42] pvonmoradi commented on #124
I thought it would be cool if I could see the value of variables while coding. Consider the following code:
[code]
`z` is immediately shown to be 6. But in this code:
[code]
`z`'s value is not immediately visible. I want the interpreter instance running on codi accept "2" in its STDIN.

[2020-05-17 10:46] metakirby5 commented on #124
Ah, understood! Codi operates directly off stdout/stdin, so achieving what you described will not directly be possible. Instead, maybe you could load your desired input from a file? For example:

[code]

[2020-05-17 10:50] #124 closed

[2020-05-18 02:34] ChristianChiarulli commented on #122
same issue, wasn't getting it on mac though.

[2020-06-13 14:05] oliverwiegers commented on #122
Same issue:

Void Linux:
[code]

[2020-06-27 14:38] oblitum commented on #13
I'm only getting the first line of error message, which is not much useful, for example, in `ghci` I have:

[code]

Codi only shows "<interactive>:1:7: error:".

[2020-07-08 11:20] BrunoGomesCoelho commented on #122
I think this can be closed after #125 , it fixed the problems for me.

[2020-07-08 11:30] dusanx commented on #122
Yeah, I can confirm it works, thanks, I wasn't aware about #125 update but everything seems perfect after installing codi plugin again.

[2020-07-08 11:30] #122 closed

[2020-08-06 04:57] lukelbd commented on #88
Sorry for not including an example. After posting this issue I think I gave up on codi and switched to numi :P. Well now I'm trying to switch back because I love vim.

The example seems to appear when the calculator exceeds a certain number of characters. For example with the following file `calculator.py` everything is fine:

[code]

and the interpreter output `1` appears in the side panel next t

[2020-08-06 05:02] lukelbd commented on #88
I tested this more closely and it seems the issue appears when the file exceeds *exactly* 1000 characters. A suspiciously round number!

[2020-08-06 05:11] lukelbd commented on #120
Same issue here :/

[2020-08-06 05:16] lukelbd commented on #88
Possible duplicate of: #1

[2020-08-09 22:14] lukelbd commented on #1
Sorry to bombard your inbox but are you still planning to address this? I'm trying to use codi for scientific calculations for my research, which means lots and lots of comments, so the 1000 character limit is unfortunately a dealbreaker :/.

[2020-08-10 05:19] metakirby5 commented on #1
No worries! I unfortunately don't have available time to fix this issue myself. I am more than happy to review and take in pull requests, though.

IMO, Codi really shouldn't be used for long scripts, since the implementation re-runs the entire script with every keystroke. I would consider something more geared towards research like [Jupyter](https://jupyter.org/) for your use case instead.

[2020-08-24 04:53] lukelbd commented on #1
No worries. Just so you know I tried making this work with python's pty module and it appears to have the same 1000-character limit. Though I just found [a python "replwrap" module](https://pexpect.readthedocs.io/en/stable/api/replwrap.html) that might be promising. Maybe will try re-writing my fork around this module some day.

[2020-09-04 22:52] lanza opened #127 "Slightly tangential suggestion -- add Codi's display as part of LSP plugins like coc.nvim"
So codi.vim has by far the best display technique for errors/diagnostics that I've seen across all plugins. The right alignment and having the information in a different buffer is just a drastically superior approach compared to virtual text, popovers or status bar messages.

I'd LOVE to see this technique expanded to be a general purpose diagnostic display buffer tool that's usable via LSP client

[2020-09-05 14:33] metakirby5 commented on #127
Unfortunately, the implementation I did for codi.vim is quite closely coupled and not built for general use. At the moment, I don't have the bandwidth to extract the right-aligned separate buffer functionality into a ready-to-use library. That said, there's no reason why other tools can't use a similar technique 🙂

Thank you for the kind compliments!

[2020-09-05 14:33] #127 closed

[2020-09-25 01:02] nscotto opened #128 "[feature request][fork] Markdown cell execution"
Hi,

Thanks for this awesome project, this is really inspiring!
I think this project could serve as a good foundation for enabling cell execution with inline output in markdown mode, is it something you are interested into?
Otherwise could you help me understanding the project workflow so I can start working on a fork?
Thanks!

[2020-09-26 10:29] metakirby5 commented on #128
Glad that my project served as some inspiration :)

I'm not sure exactly what you mean by your suggestion, but I am always happy to see pull requests or forks.

As for the project workflow, I haven't seriously worked on Codi in about four years, so I don't know if I can be much help. All of the core logic is in https://github.com/metakirby5/codi.vim/blob/master/autoload/codi.vim, and you can debug

[2020-10-27 20:31] Alci6 opened #129 "[Feature request] Add .svelte (.js & .ts) interpreter"
## Issue description
First of all, thanks to Codi is a brutal tool to enhance software programming.

I would like to request the use of Codi inside<script> tags of svelte.

## Environment
- Info about svelte: https://svelte.dev/

[2020-11-24 22:01] usmcamp0811 commented on #120
On Arch and nvim
[code]

and

[code]

For a file with the following...

[code]

I sporadically had a `> 50`  but that was it.. I'm still playing with it.. if I find anything else out I'll update..

[2020-11-25 12:13] metakirby5 commented on #120
FYI @originalsouth (maintainer)!

[2020-11-25 16:44] usmcamp0811 commented on #120
I have it partially working.... If I enable raw mode I can get the correct things to show; however its a little slow and I don't fully trust it..

[code]

[2020-11-25 17:20] originalsouth commented on #120
Let me look into it. Hopefully later today, and otherwise within this week.

[2020-12-03 22:55] originalsouth commented on #120
There seems to be a problem with the interactive REPL, but I cannot really pinpoint what exactly goes wrong. I tried imposing TERM=dumb and althought this improves thing there are still a bunch of missing "enters" in the output (you can even verify all this with xxd). I will work on it more soon

[2020-12-08 13:42] usmcamp0811 commented on #120
I just played with the regex for the prompt and added a ton of log commands throughout the code to get an idea of whats going on. It seemed like the problem might have something to do with the REPL sandwiching the output between two blank lines. I think they register as `'�[?2004l'` and `'�[?2004h'`. But my knowledge in the realm of Vim scripting is pretty shallow.

might be a dumb question but is

[2020-12-08 14:49] metakirby5 commented on #120
Not really sure about making Codi's terminal visible, I just used a lot of log commands myself during development 😓

[2020-12-08 20:05] tngreene commented on #14
Hi, this looks super super super cool. Any word?

[2020-12-10 02:13] enovid commented on #120
Same issue with Python using Neovim v0.5.0 on Arch. (Lack of output)

Fixed using the following configuration:

[code]

[2020-12-11 16:14] tngreene commented on #14
Got the right pane to show up with `wsl`, so, future readers, I think it is possible but a better fix would be just to implement the thing on Windows. I have time... right? Probably not. Sigh. This looks very very useful though! I'm constantly flipping to my interpreter to see what a potential one liner could do for me or seeing which function goes with which module.

[2020-12-24 09:08] zdmgmail opened #130 "Not show any thing after :Codi"
- Brief description

a.py

[code]

if use `let g:codi#virtual_text=0` , not show any thing after `:Codi`

may be because the envirment, it correct works on my mac

and  python, lua not work , typescript, javascript work

`python node lua tsun ` already install

codi.log has many Garbled, don't know why ..

- A minimal `.vimrc` that will reproduce the issue

[code]

if use `let g:codi#virtual_text=

[2020-12-28 00:18] dky commented on #130
I'm noticing the same thing. I'm running Neovim + Python 3.9.0. If I run Vim codi works fine with split text but the virtual text support is not working in neovim.

[2021-01-10 09:50] EarlPitts commented on #130
Same issue here, using arch with Neovim 0.4.4 and Python 3.9.1.

I found two things that seems to cause the error, at least on my machine:

1. The control sequence that the `preprocess` function in `autoload/codi.vim` tries to substitute lacks a *?* character.
This can be fixed by adding a custom preprocess function to the codi config:
[code]
Or modifying the preprocess function:
[code]
2. The sec

[2021-01-10 17:36] dky commented on #130
@EarlPitts would you happen to have a fork/branch I could try these fixes out on?

[2021-01-10 17:37] dky commented on #130
@EarlPitts Doh!, I see your PR. Going to test that.

[2021-01-10 17:41] dky commented on #130
@EarlPitts tested

![Screen Shot 2021-01-10 at 12 40 48 PM](https://user-images.githubusercontent.com/448429/104130871-25609b80-5341-11eb-83b5-ea3934481c79.png)

Works like a charm!

[2021-01-11 12:02] metakirby5 commented on #130
Just merged #131, thanks @EarlPitts!

Closing as fixed.

[2021-01-11 12:02] #130 closed

[2021-01-15 19:13] sp1n0r commented on #14
Any updates?

[2021-02-07 11:54] tejasvi opened #132 "Codi seems to append quotes at the end."
## Issue description
- Enter `2+2` on a fresh buffer with all other plugins/config turned off. It gives syntax error.
![image](https://user-images.githubusercontent.com/45873379/107122644-e7628300-68be-11eb-9c45-d346f8f1e8a6.png)
- Weirdly enough removing the trailing `2` gives the "correct" result.
![image](https://user-images.githubusercontent.com/45873379/107122666-0e20b980-68bf-11eb-9b56-dba13

[2021-02-08 19:59] tejasvi commented on #132
After fiddling with it I figure it is just a syntax parsing quirk. It works as expected after newline.

[2021-02-08 19:59] #132 closed

[2021-03-17 21:40] hrqmonteiro opened #133 "Simply doesn't work with ruby"
It worked with all of the languages i've tested, but non on Ruby. How could i fix this?

I have ruby, irb and all of it properly installed.

[2021-03-18 13:59] metakirby5 commented on #133
Can you give some more details? Any error messages, logs, etc?

[2021-04-05 20:34] hrqmonteiro commented on #133
How can i see some log? On the regular nvim log it doesn't appear anything related.

[2021-04-06 16:20] metakirby5 commented on #133
Please refer to the [documentation](https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt#L320):

[code]

[2021-04-17 08:51] alok opened #134 "jq support?"
jq is a full language, and having the ability to eval json live and print it out would be amazing.

[2021-04-20 15:00] metakirby5 commented on #134
A small issue is that there are two inputs: the JSON to process and the jq expression to evaluate. We'd probably have to add some sort of argument handling for specifying the input JSON, as I'm assuming the input you want to actively work on is the jq expression.

A simple workaround is using your language of choice which has a jq library, and writing your script as a string in that. An example is

[2021-04-20 15:00] #134 closed

[2021-05-30 20:53] gleachkr opened #135 "Haskell Support Not Working"
## Issue description
- Brief description: Haskell support doesn't seem to be working.
- Expected results: I type a haskell expression, like `1` into a codi haskell buffer, I see the value of the expression, e.g. `1`.
- Actual results: I type a haskell expression like `1` into a codi haskell buffer, I see nothing.
- A minimal `.vimrc` that will reproduce the issue
[code]
- Exact steps to reproduce

[2021-06-15 16:12] kafelix496 opened #136 "Codi typescript prompt"
## Issue description
Codi doesn't work with typescript in specific circumstances.
What I found is that the expected 'prompt' and detected 'prompt' is not match. it does not detect 'new line (\n)' and also '}'.
I was trying to fix it but I'm not 100% sure it's happening because of this.

Here's the code
[code]

## Environment
- Operating system: Mac OS Big Sur
- Neovim v0.4.4

## Log
As you can see

[2021-07-03 04:54] rodhash commented on #123
Is Codi learning from my code? lol ... well it's hard to explain..

I came here to report a similar problem, in my case the Virtual Text is always misaligned for Python files, HOWEVER, just now when I started recording a gif to show the issue suddenly it's fine, the issue was gone ..

I'm no longer able to reproduce the issue, and obvisouly I have changed nothing .. that's crazy lol ... I guess I'

[2021-09-03 23:54] mracos commented on #133
Ruby wouldn't work at all for me too and after some time debugging I think I found out why. It seems that since ruby 2.7 `irb` supports [multiline editing](https://blog.saeloun.com/2019/09/23/new-irb-features.html#introduce-multiline-mode-by-reline), but _apparently_ codi.vim does not like that.

I just added `--nomultiline` to ruby's `bin` value and it worked. Not sure if is the same case but no

[2021-09-06 18:30] gimelg opened #137 "Codi crashes when coc.nvim is used to autocomplete"
## Issue description
When selecting an item from the autocomplete list generated by [coc.nvim](https://github.com/neoclide/coc.nvim), Codi exits with the following error:

### `.vimrc` settings
[code]

## Steps to reproduce
1. Open vim from command line (e.g. `vim test.js`)
1. Open Codi with `:Codi` command
2. Type anything that will trigger an autocomplete list by coc.nvim (like an existing varia

[2021-09-08 10:58] adipginting opened #138 "Codi runs on Insert mode after stopped with :Codi! on Neovimv0.6.0-dev. It should stop after stopped."
## Codi runs on Insert mode after stopped with :Codi! on Neovimv0.6.0-dev. It should stop after stopped.

-Neovim init.vim file: https://pastebin.com/c9QutNUf
- Steps to reproduce the problem:
 1. In normal mode press :Codi
 2. Still in normal mode, press : Codi!
 3. Enter Insert mode and make code modification.

- Screencast:
![output0](https://user-images.githubusercontent.com/6162184/132497649-

[2021-09-11 13:01] adipginting commented on #138
I found this solution.  This may not the real fix, but at least it solves my issue for now.

Set this configuration before running Codi and chain it with Codi:
`:let g:codi#virtual_text = 1 | Codi `
and deactivate with:
`:Codi! | let g:codi#virtual_text = 0`.

This works nicely with key mapping. This is it for now, I close this issue.

[2021-09-11 13:01] #138 closed

[2021-09-14 13:47] #133 closed

[2021-09-21 09:55] Golam-moula opened #139 ":Codi is not working"
codi shoudl work in the following
:Codi // starts codi
:Codi! javascript or :Codi
it is not working

[2021-09-21 10:52] cat903 opened #140 "Wierd Behaviour: Codi logging Property Assignment"
I am running Codi from vim Command Mode

e.g: :Codi javascript

[code]

![codioutputs](https://i.ibb.co/Ks6zxdk/Screenshot-from-2021-09-21-16-46-44.png)

**Why codi logging property assignment on line 2 , any way to disable This Behaviour?**

[2021-09-21 10:58] #140 closed

[2021-09-21 11:00] metakirby5 commented on #139
Replied to you on Gitter. Next time, please include more information about your issue when reporting.

[2021-09-21 11:00] #139 closed

[2021-12-05 19:58] Flamme13 opened #141 "Partial output"
How I can fix the output of the array or object.

Now I have output only the last line.

![Selection_017](https://user-images.githubusercontent.com/8742198/144761264-c7194c11-37b9-431d-ac36-e6462efc9585.png)

I tried to disable virtual text but it did not help.

## Environment
- Operating system (Ubuntu 20.04)
- Version of `script` (if you don't know, just paste the last line of the man page - vim

[2021-12-07 10:57] metakirby5 commented on #141
This is because the output is itself multi-line per input line. It's only possible to display up to one line of output for each line of input. If the other lines had output, there would be nowhere for the excess output to go.

![image](https://user-images.githubusercontent.com/3402603/145016639-8b223585-2ef8-406f-87ed-e208cfabb448.png)

[2021-12-07 10:57] #141 closed

[2021-12-09 19:14] nagakiran commented on #136
Noticed an issue on BigSur that whenever try to add a multi-line statement (like for loop, function definition) it starts working.
As long as all the statements are single line, it works fine. Even, it works if the arrow function is defined in a single line.
Not sure if it is related to the above issue.

[2021-12-12 03:26] Flamme13 commented on #141
seems like bug =(

because I can work only with simple data.

is it possible to specify multi-line output in the settings?

[2021-12-13 15:40] metakirby5 commented on #141
Codi is largely only meant for simple data, since the entire buffer is run again with every keystroke.
As mentioned before, multiple lines are not supported, because there is simply nowhere for the extra lines to go.

You may reformat multi-line output into a single line by implementing [`rephrase`](https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt#L594). For more details, please ref

[2021-12-13 23:01] Flamme13 commented on #141
Thanks for the answer.

[2022-01-24 03:40] rhcher opened #142 "Codi doesn't work with other plugins that use extmark."
## Issue description
- Brief description
Codi doesn't work with other plugins that use extmark because codi will clear all namespace, see [here](https://github.com/dcampos/nvim-snippy/issues/48) for details.
- Expected results
Codi.vim work together with other plugin that use extmark.
- Actual results
Codi.vim doesn't work with other plugin that use extmark.
- A minimal `.vimrc` that will reproduc

[2022-01-24 17:09] metakirby5 commented on #142
I don't have the bandwidth to make a fix right now, but if someone can try the [proposed fix](https://github.com/dcampos/nvim-snippy/issues/48#issuecomment-1019578870), run some tests, and submit a pull request, I'm happy to review!

[2022-02-12 02:09] Rofer11607 commented on #136
same issue

[2022-02-13 09:55] metakirby5 commented on #136
@topaxi (maintainer), if you have time can you take a look?

[2022-02-13 10:02] topaxi commented on #136
I'm not the maintainer of this, I was probably accidentally tagged here? :grin:

[2022-02-13 10:06] metakirby5 commented on #136
@topaxi Says in the [README](https://github.com/metakirby5/codi.vim/blob/cf62681a4962ce1873e4b2a5e0bf401dcd42890f/doc/codi.txt#L464) you are 🙂
And you did submit the initial PR: https://github.com/metakirby5/codi.vim/pull/108

It's certainly not an obligation, but if you have time and are so inclined 😄

[2022-02-13 10:12] topaxi commented on #136
Haha, alright I see, this has been three years ago, I haven't used or done anything on here since then :)

I don't think I'll have time to look into this, sorry :wink:

[2022-02-13 14:58] Rofer11607 commented on #136
I'd be happy to take over as the maintainer, is there any documentation to this I could read over to get familiar with the project?

On Sun, Feb 13, 2022 at 5:12 AM, Damian Senn < ***@***.*** > wrote:

[2022-02-13 15:51] metakirby5 commented on #136
Unfortunately, I don't have any documentation specifically for contributors, since this was largely created as a personal tool.

- The [VimDoc](https://github.com/metakirby5/codi.vim/blob/master/doc/codi.txt) describes all available features and options. In particular, the [Output Specification](https://github.com/metakirby5/codi.vim/blob/cf62681a4962ce1873e4b2a5e0bf401dcd42890f/doc/codi.txt#L483)

[2022-03-06 18:34] lukelbd commented on #100
This might be a duplicate of #120.

[2022-03-06 19:01] lukelbd commented on #85
Another 2 years later, this works much better (adapted from [this solution](https://unix.stackexchange.com/a/436571/112647) from the stackoverflow thread):

[code]

[2022-03-06 22:30] lukelbd commented on #1
Ok I just figured out a much much simpler workaround... simply define a rephraser that removes the comment characters. This covers 99% of my use cases -- I just need lots of comments to explain the scientific calculations but very little actual code.

Here's my current `.vimrc` configuration:

[code]

Then I have the following definitions (the escape pre-processor is coppied from another thread):

[2022-03-06 22:33] lukelbd commented on #88
Closing this due to work-around described in #1

[2022-03-06 22:33] #88 closed

[2022-03-07 02:57] lukelbd commented on #106
@epeery Why did you close this? Found a workaround? Having the same issue in vim 8.X.

[2022-03-07 06:01] lukelbd commented on #1
Here's a function that auto-truncates to 1000 characters, preserving newlines and deleting code fragments:

[code]

[2022-03-19 14:18] MushiTheMoshi opened #143 "[Feature] Support Golang"

[2022-03-19 15:52] lukelbd commented on #137
I'm also getting this issue when popups are shown with [vim-lsp](https://github.com/prabirshrestha/vim-lsp).

[2022-03-19 20:56] lukelbd opened #144 "Syncbind issues in vim 8"
## Issue description

Continued from #106. Cursor position syncing fails in vim 8 when the top window line is not the first line of the file.

Here's an example before editing text:

<img width="597" alt="Screen Shot 2022-03-19 at 2 50 04 PM" src="https://user-images.githubusercontent.com/19657652/159137955-be24d859-2ef6-4fa2-9240-fd23e6a7510a.png">

Then after editing text, the LHS shows the firs

[2022-03-19 21:37] lukelbd commented on #106
I submitted a PR in #145 that may fix this issue.

[2022-03-20 10:26] #144 closed

[2022-04-03 13:28] timonson commented on #115
Your last changes seem to have fixed this issue @metakirby5

[2022-04-03 13:28] #115 closed

[2022-05-22 12:59] #27 closed

[2022-05-25 16:28] JoseConseco commented on #142
I think this https://github.com/metakirby5/codi.vim/pull/151 PR should fix the issue.

[2022-05-26 02:30] #142 closed

[2022-06-09 20:47] rafpaf opened #152 "function declaration hoisting"
`typeof functionName`, written before the function is declared, should equal `'function'`, since function declarations are hoisted to the top of the scope. However, codi gives a ReferenceError.

[2022-06-10 02:34] rafpaf commented on #135
Same with elixir on Ubuntu 20.04, script from util-linux 2.34, NVIM v0.8.0-dev+391-gc5720c722.

[2022-06-10 02:47] metakirby5 commented on #152
Please refer to [FAQ](https://github.com/metakirby5/codi.vim#faq), and use the issue template next time.

If you enter the contents of your source file into the corresponding interpreter, you will find the same result. What occurs in the future cannot be hoisted to the top 🙂

[2022-06-10 02:47] #152 closed

[2022-06-10 03:30] rafpaf commented on #152
Thanks for making such a brilliant plugin, @metakirby5, and for your kind explanation.

[2022-07-27 08:01] im-n1 opened #153 "Cannot deactivate Codi"
When I deactivate Codi for current buffer with `:Codi!` it gets deactivated but once I start typing it's activated again which is pretty annoying.

[2022-08-11 00:14] siqueira-gustavo commented on #77
Still nothing in Aug 2022

[2022-08-14 16:02] metakirby5 commented on #77
Happy to take a pull request for it.

[2022-08-15 03:14] JESii opened #154 "Screencast doesn't work"
If you only have a quick question, consider posting it on the Gitter.

Otherwise, please include the following:

## Issue description
Went to see the screencast which is part of the description here.
Expected to see the screencast
Instead bot this:
![2022-08-14 at 8 10 PM](https://user-images.githubusercontent.com/486/184571062-1cf5e826-6f65-4697-a36d-7d208f8dfe82.jpg)

## Environment
chrome brows

[2022-08-16 13:17] metakirby5 commented on #154
Oops, thanks! Just removed it from the readme, since I unfortunately didn't keep a backup.

[2022-08-16 13:17] #154 closed

[2022-09-02 05:36] Wolowit commented on #137
same here

[2022-09-30 12:37] iamgodot commented on #114
Are we having expectation on this fix?

[2022-10-23 08:51] pranavpa8788 commented on #86
Isn't codi not supported for Windows yet? How did you get it to work?

[2022-10-31 16:39] igbanam opened #155 "Codi Glitches out on Vim9"
If you only have a quick question, consider posting it on the Gitter.

Otherwise, please include the following:

## Issue description
- Brief description: Codi glitches out in Vim 9 during normal use
- Expected results: Scratchpad continues as should
- Actual results: Exception thrown.
- A minimal `.vimrc` that will reproduce the issue
- Exact steps to reproduce the issue, starting with the comman